/archive/
/blueprints/
/__pycache__/
/pretrained_models/
/classifier/
/kaggle/
/kaggle/*
/kaggle/input/*
/kaggle/input/OAF_Pleasant_surprise/*
/tests/
/results/
/utilities/
/wav2vec2_checkpoints/
/model/
/tests/
/cache/
/static/videos/*
!/static/videos/.gitkeep
!static/other_subfolder1/
!static/other_subfolder2/
/EmotiBitSoftware-MacOS/
/tmp/*
/subject_files/*
/audio_files/*
/SER_MODEL/*
config.txt
wav_to_emotion_test.py
survey_routes.py
SERCheatSheet.ipynb
aud_test.py
ser_manager_2.py
signal_processor.py
Speaker.wav
test_script.py
csv_handler.py
emotibit_tester.py
subject_manager.py
ser_manager.py
emotibit_streamer.py
audonnx_test.py
ser_test.py
.DS_Store
feature_extraction.py