/archive/
/blueprints/
/__pycache__/
/pretrained_models/
/classifier/
/kaggle/
/tests/
/results/
/utilities/
/wav2vec2_checkpoints/
/model/
/tests/
/cache/
/static/videos/*
/EmotiBitSoftware-MacOS/
/tmp/*
/audio_files/*
/SER_MODEL/*
config.txt
wav_to_emotion_test.py
survey_routes.py
SERCheatSheet.ipynb
.DS_Store
