/archive/
/blueprints/
/__pycache__/
/pretrained_models/
/classifier/
/kaggle/
/tests/
/results/
/utilities/
/wav2vec2_checkpoints/
/model/
/tests/
/cache/
/static/videos/*
/EmotiBitSoftware-MacOS/
/tmp/*
/audio_files/*
/SER_MODEL/*
config.txt
wav_to_emotion_test.py
survey_routes.py
SERCheatSheet.ipynb
aud_test.py
ser_manager_2.py
signal_processor.py
Speaker.wav
test_script.py
emotibit_tester.py
.DS_Store
feature_extraction.py