<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analysis</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>
<body>
    <header>
        <h1>Analysis Page</h1>
    </header>
    <main>
        <h3>Postgre Database Login</h3>
        <div class="testModule">
            <form id="loginForm">
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="password" id="password" name="password"><br><br>
                <input type="submit" value="Submit">
            </form>
        </div>
        
    </main>

    <script>
        document.getElementById("loginForm").addEventListener("submit", function(event){
            event.preventDefault();
            const username = document.getElementById("username").value;
            const password = document.getElementById("password").value;
            console.log(username, password);
        });
    </script>
</body>
</html>