<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Background Survey</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="testModule">
        <h1>Background Information</h1>
        <p>The following responses you provide are confidential, and all information will be used only for research purposes. Please respond to each question honestly.</p>
        <p><span class="required">*</span>Required</p>
        <form action="submit_background" id="backgroundForm">
            <h3>Did you rush here or have you had a caffeinated drink recently? <span class="required">*</span></h3>
            <label>
                <input type="radio" name="rush_caffeine" value="Yes" id="rush_caffeine_yes" required> Yes
            </label><br>
            <p id="rush_message" style="display: none">If you wish to continue with the experiment, please sit here for a few minutes to enter a more relaxed state.</p>
            <label>
                <input type="radio" name="rush_caffeine" value="No" required> No
            </label><br><br>

            <label for="caffeine_details">If yes, what did you have? <span class="required">*</span></label><br><br>
            <select id="caffeine_details" name="caffeine_details" required>
                <option value="" disabled selected>Select an option</option>
                <option value="Coffee">Coffee</option>
                <option value="Tea">Tea</option>
                <option value="Energy Drink">Energy Drink</option>
                <option value="Other">Other</option>
            </select><br><br>
            <label for="caffeine_time">If yes, what time did you have it? <span class="required">*</span></label><br><br>
            <select id="caffeine_time" name="caffeine_time" required>
                <option value="" disabled selected>Select a time</option>
                <option value="6:00 AM">6:00 AM</option>
                <option value="7:00 AM">7:00 AM</option>
                <option value="8:00 AM">8:00 AM</option>
                <option value="9:00 AM">9:00 AM</option>
                <option value="10:00 AM">10:00 AM</option>
                <option value="11:00 AM">11:00 AM</option>
                <option value="Other">Other</option>
            </select><br><br>

            <h3>Are you thirsty or hungry?</h3>
            <label>
                <input type="radio" name="thirst_hunger" value="Thirsty" id="thirsty_yes" required> Thirsty
            </label><br>
            <p id="thirsty_message" style="display: none">Please help yourself to a bottle of water.</p>
            <label>
                <input type="radio" name="thirst_hunger" value="Hungry" id="hungry_yes" required> Hungry
            </label><br>
            <p id="hungry_message" style="display: none">It might be best to grab a snack and come back in an hour. We want to ensure you're feeling your best for the experiment.</p>
            <label>
                <input type="radio" name="thirst_hunger" value="Both" id="both_yes" required> Both
            </label><br>
            <p id="both_message" style="display: none">Please help yourself to a water bottle. But, it might be best to grab a snack and come back in an hour. We want to ensure you're feeling your best for the experiment.</p>
            <label>
                <input type="radio" name="thirst_hunger" value="Neither" required> Neither
            </label><br><br>

            <h3>What do you think your normal heart rate is? Is it elevated right now for any reason?<span class="required">*</span></h3>
            <label>
                <input type="radio" name="heart_rate" value="Yes" id="elevated_yes" required> Yes
            </label><br>
            <p id="elevated_message" style="display: none">If you wish to continue with the experiment, please sit here for a few minutes to enter a more relaxed state.</p>
            <label>
                <input type="radio" name="heart_rate" value="No" required> No
            </label><br><br>

            <h3>Have you used VR before?</h3>
            <label>
                <input type="radio" name="vr_experience" value="Yes" id="use_vr_yes" required> Yes
            </label><br>
            <div id="experienceQuestion" style="display:none;">
                <h3>How was your experience?</h3>
                <label>
                     <select id="experienceDropdown" onchange="handleDropdownChange()" name="vr_experience_description">
                         <option value="" disabled selected>Select an option</option>
                         <option value="No_side_effects">No physical side effects</option>
                         <option value="Side_effects">Some physical side effects (e.g., dizziness, nausea, or other discomfort)</option>
                     </select>
                </label><br>
                <p id="vrMessage" style="display: none">Thank you for your time. Unfortunately, we cannot include you in this study.</p><br>
             </div>
             
            <label>
                <input type="radio" name="vr_experience" value="No" required> No
            </label><br><br>

            <h3>Have you ever had any issues with your balance?</h3>
            <label>
                <input type="radio" name="balance_issues" value="Never" required> Never
            </label><br>
            <label>
                <input type="radio" name="balance_issues" value="Rarely" required> Rarely (Once or twice)
            </label><br>
            <label>
                <input type="radio" name="balance_issues" value="Sometimes" id="balance_yes" required> Sometimes / Often
            </label><br>
            <p id="balanceMessage" style="display: none;">Thank you for your time. Unfortunately, we cannot include you in this study.</p>
            
            <h3>Have you ever experienced motion sickness?</h3>
            <label>
                <input type="radio" name="motion_sickness" value="Never" required> Never
            </label><br>
            <label>
                <input type="radio" name="motion_sickness" value="Rarely" required> Rarely (Once or twice)
            </label><br>
            <label>
                <input type="radio" name="motion_sickness" value="Sometimes" id="motion_yes" required> Sometimes / Often
            </label><br>
            <p id="sicknessMessage" style="display: none;">Thank you for your time. Unfortunately, we cannot include you in this study.</p>
        
            <h3>Have you been diagnosed with any medical conditions that will be affected by flashing light or any sort of visual effects such as migraines, epilepsy, recurrent seizures, concussion, head trauma, etc?</h3>
            <label>
                <input type="radio" name="neurological_conditions" value="Yes" id="neuro_no" required> No
            </label><br>
            <label>
                <input type="radio" name="neurological_conditions" value="No" id="neuro_yes" required> Yes
            </label><br>
            <p id="neuro_message" style="display: none">Thank you for your time. Unfortunately, we cannot include you in this study.</p>
           
            <h3>Have you been diagnosed with any uncorrected visual impairments such as partial blindness, color blindness, blurred vision, stereoblindness etc? These do not include issues that are corrected by wearing glasses, lenses, etc.
            </h3>
            <label>
                <input type="radio" name="visual_impairments" value="No" required> No
            </label><br>
            <label>
                <input type="radio" name="visual_impairments" value="Yes" id="visual_yes" required> Yes
            </label><br>
            <p id="visual_message" style="display: none">Thank you for your time. Unfortunately, we cannot include you in this study.</p>

            <h3>Have you ever been diagnosed with any neurological/vestibular issues that affect your balance?</h3>
            <label>
                <input type="radio" name="neurological_vestibular" value="No" required> No
            </label><br>
            <label>
                <input type="radio" name="neurological_vestibular" value="Yes" id="vestibular_yes" required> Yes
            </label><br>
            <p id="neuro_vestibular_message" style="display: none">Thank you for your time. Unfortunately, we cannot include you in this study.</p>
           
            <h3>Do you have any issues with body movements, head movements, and/or hand and finger movements (such as grabbing objects, lifting arms, holding objects, etc.)?</h3>
            <label>
                <input type="radio" name="movement_issues" value="No" required> No
            </label><br>
            <label>
                <input type="radio" name="movement_issues" value="Yes" id="movement_yes" required> Yes
            </label><br>
            <p id="movement_message" style="display: none">Thank you for your time. Unfortunately, we cannot include you in this study.</p>

            <h3>Do you have any issues with physical mobility and/or the ability to walk?</h3>
            <label>
                <input type="radio" name="mobility_issues" value="No" required> No
            </label><br>
            <label>
                <input type="radio" name="mobility_issues" value="Yes" id="walk_yes" required> Yes
            </label><br>
            <p id="mobility_message" style="display: none">Thank you for your time. Unfortunately, we cannot include you in this study.</p>
          
            <h3>Do you have any scars or tattoos on your non-dominant wrist?<span class="required">*</span></h3>
            <label>
                <input type="radio" name="scars_tattoos" value="Yes" id="tattoo_yes" required>Yes
            </label><br>
            <p id="tattoo_message" style="display: none">Unfortunately, we cannot include you in this study. Thank you for your understanding</p>
            <label>
                <input type="radio" name="scars_tattoos" value="No" required>No
            </label><br>

            <h3>Do you require glasses to participate in the experiment?<span class="required">*</span></h3>
            <label>
                <input type="radio" name="glasses" value="Yes, I'll be wearing glasses" id="glasses_yes" required> Yes, I'll be wearing glasses
            </label><br>
            <p id="glasses_message" style="display: none">We’re sorry, but normal or corrected-to-normal vision is required to participate in this study. Thank you for your time.</p>
            <label>
                <input type="radio" name="glasses" value="Yes, I'll be wearing contacts" required> Yes, I'll be wearing contacts
            </label><br>
            <label>
                <input type="radio" name="glasses" value="No" required> No
            </label><br><br>

            <input type="submit" value="Submit"><br><br>
        </form>
        <div id="feedback" style="display:none; margin-top: 20px;"></div>

        <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdgBFuzvC9M2sduYYo7tv0jTh0xonpB5P5gA6J2mq1NDdfL4w/viewform?embedded=true" width="640" height="419" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
    </div>

    <script>
        function toggleMessage(radioId, messageId) {
            const radioButton = document.getElementById(radioId);
            const message = document.getElementById(messageId);
            if (radioButton.checked) {
                message.style.display = 'block';
            } else {
                message.style.display = 'none';
            }
        }

        function handleDropdownChange() {
            const dropdown = document.getElementById('experienceDropdown');
            const vrMessage = document.getElementById('vrMessage');

            if (dropdown.value === 'Side_effects') {
                vrMessage.style.display = 'block';
            } else {
                vrMessage.style.display = 'none';
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            document.querySelectorAll('input[type="radio"]').forEach(radio => {
                radio.addEventListener('change', function () {
                    toggleMessage('rush_caffeine_yes', 'rush_message');
                    toggleMessage('thirsty_yes', 'thirsty_message');
                    toggleMessage('hungry_yes', 'hungry_message');
                    toggleMessage('both_yes', 'both_message');
                    toggleMessage('elevated_yes', 'elevated_message');
                    toggleMessage('use_vr_yes', 'experienceQuestion');
                    toggleMessage('balance_yes', 'balanceMessage');
                    toggleMessage('motion_yes', 'sicknessMessage');
                    toggleMessage('neuro_yes', 'neuro_message');
                    toggleMessage('visual_yes', 'visual_message');
                    toggleMessage('vestibular_yes', 'neuro_vestibular_message');
                    toggleMessage('movement_yes', 'movement_message');
                    toggleMessage('walk_yes', 'mobility_message');
                    toggleMessage('tattoo_yes', 'tattoo_message');
                    toggleMessage('glasses_yes', 'glasses_message');
                });
            });
        });
        
        document.addEventListener('DOMContentLoaded', function() {
        const form = document.getElementById('backgroundForm');
            form.addEventListener('submit', function(event) {
                event.preventDefault(); 

                const formData = new FormData(form); 

                fetch('/submit_background', { 
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    feedback.style.display = 'block';
                    feedback.style.color = 'green';
                    feedback.innerText = 'Form submitted successfully!'; 
                })
                .catch(error => {
                    feedback.style.display = 'block';
                    feedback.style.color = 'red';
                    feedback.innerText = 'Error submitting form. Please try again.';
                    console.error('Error:', error);
                });
            });
        });
    </script>
</body>
</html>