<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Baseline Comparison</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <h1>Baseline Comparison</h1>
    <p>Click on the buttons below to view the baseline comparison tests.</p>
    <div id="testModule">
        <button id="test1">Baseline Comparison Test 1</button><br>
        <button id="test2">Baseline Comparison Test 2</button><br>
        <button id="vr1">Baseline Comaprison VR Activity 1</button><br>
        <button id="vr2">Baseline Comparison VR Activity 2</button><br>

        <div id="display" style="display:none;">
            <p id="resultMessage">Comparison Result:</p><br><br>
            <p id="baseline" style="display:none;"></p><br><br>
            <p id="test" style="display:none;"></p><br>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <script>
        const test1 = document.getElementById("test1");
        const test2 = document.getElementById("test2");
        const vr1 = document.getElementById("vr1");
        const vr2 = document.getElementById("vr2");

        test1.addEventListener("click", function() {
            document.getElementById("display").style.display = "block";
            
            fetch("/baseline_comparison")
            
        });
    </script>
</body>
</html>