<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Break</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>

<body>
    <h1>Break</h1>
    <button id="break1">Break 1</button><br>
    <div class="testModule" id="break1Div" style="display:none" disabled>
        <p id="restMessage1">Please wait...</p><br><br>
        <video width="640" height="360" controls>
            <source src="{{ url_for('video', filename='Video1.mp4') }}" type="video/mp4">
        </video>
    </div><br>

    <button id="break2">Break 2</button><br>
    <div class="testModule" id="break2Div" style="display:none" disabled>
        <p id="restMessage2">Please wait...</p><br><br>
        <video width="640" height="360" controls>
            <source src="{{ url_for('video', filename='Video2.mp4') }}" type="video/mp4">
        </video>
    </div>

    <script>
        document.addEventListener("DOMContentLoaded", function(){
            restText = `Please watch the following video for ${restTime} minutes.`
            document.getElementById("restMessage1").innerHTML = restText;
            document.getElementById("restMessage2").innerHTML = restText;

        });
        
        document.getElementById("break1").addEventListener("click", function() {
            toggleVis("break1Div");
        });

        document.getElementById("break2").addEventListener("click", function() {
            toggleVis("break2Div");
        }); 
    </script>
</body>
</html>