<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Break Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>

<body>
    <h1>Break</h1>
    <button id="break1">Break 1</button><br>
    <div class="testModule" id="break1Div" style="display:none" disabled>
        <video id="video1" width="640" height="360" controls>
            <source src="{{ url_for('video', filename='Video1.mp4') }}" type="video/mp4">
        </video><br>
        <p id="restMessage1"></p>
    </div><br>

    <button id="break2">Break 2</button><br>
    <div class="testModule" id="break2Div" style="display:none" disabled>
        <video id="video2" width="640" height="360" controls>
            <source src="{{ url_for('video', filename='Video2.mp4') }}" type="video/mp4">
        </video><br>
        <p id="restMessage2"></p>
    </div>

    <script>
        var restTimeMillis = restTime * 60 * 1000;

        document.addEventListener("DOMContentLoaded", function(){

            var video1 = document.getElementById("video1");
            var video2 = document.getElementById("video2");
            var timeout1, timeout2;

            function stopVideo(video, messageId, timeoutVar) {
                clearTimeout(timeoutVar); 
                return setTimeout(function() {
                    video.pause();
                    setEventMarker('subject_idle');
                    document.getElementById(messageId).innerHTML = "Your break has ended. Please return to the Subject Dashboard and press 'Task Complete' to continue.";
                }, restTimeMillis);
            }

            video1.addEventListener("play", function() {
                setEventMarker('break_1');
                timeout1 = stopVideo(video1, "restMessage1", timeout1);
            });

            video2.addEventListener("play", function() {
                setEventMarker('break_2');
                timeout2 = stopVideo(video2, "restMessage2", timeout2);
            });

            document.getElementById("break1").addEventListener("click", function() {
                toggleVis("break1Div");
            });

            document.getElementById("break2").addEventListener("click", function() {
                toggleVis("break2Div");
            }); 
        });

    </script>
</body>
</html>