<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiment Dashboard</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Experiment Dashboard</h1>
    <span class="buttonRow">
        <button class="stopEmotibit">Stop Emotibit</button>
        <button class="stopServer">Stop Server</button><br>
        <p class="emotibitStatus"></p>
    </span>

    <h2>Pre-Test</h2>
    <div class="testModule" id="preTestDiv">
    <button class="toggle">Experiment/Trial Information</button><br>
    <div class="innerModule" style="display:block;">
        <h3>Experiment/Trial Information</h3>
        <p>Instructions</p>
        <ul>
            <li>Enter the name of the experiment and the name of the trial in the fields below.</li>
            <li>Click "Submit" to save the experiment and trial names.</li>
            <li><span class="required">IMPORTANT:</span> This information must be entered before starting the experiment</li>
        </ul>
        <form id="experimentNameForm" action="/submit_experiment" method="POST">
            <label for="experiment_name">Experiment Name:</label>
            <input type="text" id="experiment_name" name="experiment_name" required><br><br>
            <label for="trial_name">Trial Name:</label>
            <input type="text" id="trial_name" name="trial_name" required><br><br>
            <button type="submit">Submit</button>
        </form><br>
        <div id="notification1" style="display:none; color: green;"></div>
        <div id="errorNotification1" style="display:none; color: red;"></div>
    </div><br>

    <button class=toggle>Subject Instructions</button><br>
    <div class="innerModule" style="display:block">
        <h3>Subject Instructions</h3>
        <p>Please relay the following instructions to the subject.</p>
        <ul>
            <li>Subject must complete the tasks on their page in the order they appear.</li>
            <li>Subject must click "Task Completed" after each task is performed</li>
            <li>After "Task Completed" is clicked, the next task will appear.</li>
        </ul><br>
        <button id="launchSubjectGUI">Launch Subject GUI</button>
    </div><br>

    <button class="toggle">Subject Information</button><br>
    <div class="innerModule" style="display:none">
        <h3>Subject Information</h3>
        <h4>Instructions</h4>
        <ul>
            <li>Instruct the subject to fill out the subject information form.</li>
            <li><span class="required">IMPORTANT:</span> Subject must fill out the "Subject Information" form before any tasks are begun.</li>
            <li>The subject must click "Task Completed" when the task is finished.</li>
        </ul><br>
    </div><br>

    <button class="toggle">Device Setup</button><br>
    <div class="innerModule" style="display:none;">
        <h3>Device Setup</h3>
        <p>Checklist</p>
        <ul>
            <li>Ensure the subject is fitted with the microphone and headphones.</li>
            <li>Ensure the audio interface and microphones are connected and powered on.</li>
            <li><span class="required">IMPORTANT:</span> Subject must fill out the "Subject Information" form before the EmotiBit can be started.</li>
            <li>Ensure the EmotiBit is fitted to the subject.</li>
            <li>Power on the EmotiBit by sliding the DIP switch on the board to the right.</li>
            <li>Open the Oscilloscope app on the desktop and select the EmotiBit device from the dropdown menu.</li>
            <li><span class="required">IMPORTANT:</span> Once you see the graphs detecting data, check "Record" on the Oscilloscope interface.</li>
            <li>From the "Output List" on the Oscilloscope interface, check "OSC" to stream data to the server.</li>
            <li>Start the EmotiBit stream by pressing the button below.</li>
            <li>The subject must click "Task Completed" when the task is finished.</li>
        </ul><br>
        <button id="startEmotibitButton">Start EmotiBit</button><br>
        <p class="emotibitStatus"></p>
    </div><br>

    <button class="toggle">Demographics Survey</button><br>
    <div class="innerModule" style="display:none;">
        <h4>Demographics Survey</h4>
        <p>Instructions</p>
        <ul>
            <li>Ensure the EmotiBit is streaming data.</li>
            <li>Instruct the subject to fill out the demographics survey before proceeding.</li>
            <li>The subject must click "Task Completed" when the task is finished.</li>
        </ul>
    </div><br>

    <button class="toggle">Biometrics Baseline</button><br>
    <div class="innerModule" style="display:none;">
        <h4>Instructions for EmotiBit Baseline</h4>
        <ul>
            <li>Ensure the Emotibit is well-fitted.</li>
            <li>Press "Start Collecting Baseline" to start the EmotiBit streamer and begin collecting baseline data.</li>
            <li>NOTE: EmotiBit will run continuously until "Stop Emotibit" is clicked.</li>
            <li>The subject must click "Task Completed" when the task is finished.</li>
        </ul>
        <button id="startBiometricBaseline">Start Collecting Baseline</button>
        <p id="biometricStatusMessage"></p>
    </div><br>

    <button class="toggle">PSS4 Survey</button><br>
    <div class="innerModule" style="display:none;">
        <h4>Instructions for PSS4 Survey</h4>
        <ul>
            <li>Ensure the EmotiBit is streaming data.</li>
            <li>Instruct the subject to fill out the PSS4 survey before proceeding.</li>
            <li>The subject must click "Task Completed" when the task is finished.</li>
        </ul>
    </div><br>

    <button class="toggle">Test Audio</button><br>
    <div class="innerModule" style="display:none;">
        <h4>Instructions</h4>
        <ul>
            <li>Please select your audio input or microphone.</li>
            <li>Fit subject with microphone and headphones</li>
            <li>Instruct subject to follow the written directions on the "Test Audio" portion of their page.</li>
            <li>Test headphones: When subject is fitted with headphones, click "Test Audio Output" below.</li>
            <li>Test microphont: When subject is fitted with microphone, click "Start Monitoring" to monitor audio.</li>
            <li>Monitor the signal below and adjust microphone as needed.</li>
            <li>The subject must click "Task Completed" when the task is finished.</li>
        </ul><br>
        <button id="testAudioOutput">Test Audio Output</button><br><br>

        <label for="audioDevices">Select Audio Input Device:</label><br><br>
        <select id="audioDevices" onchange="setDevice()"></select><br><br>

        <button onclick="startMonitoring()">Start Monitoring</button><br><br>
        <div class="meter"><div class="level"></div></div>
    </div><br>

    <button class="toggle">Speech Emotion Baseline (SER)</button>
    <div class="innerModule" style="display:none;">
        <h4>Instructions</h4>
        <ul>
            <li>Once the audio is tested, instruct the subject to click the "Mood Q&A" button.</li>
            <li>Instruct the subject to carefully follow the directions listed there.</li>
            <li>The subject should click "Begin" and read each question before speaking their answer aloud.</li>
            <li>The subject should wait for the status to read "Recording..." before speaking.</li>
            <li>The subject should click "Submit" to register their answer and wait for the next question.</li>
            <li>The subject must click "Task Completed" when the task is finished.</li>
        </ul>
    </div>
    </div><br>

    <h2>Experimental Tasks</h2>
    <button class="toggle">Begin Tasks</button><br>
    <div class="testModule" style="display:none;">
        <h3>Experimental Tasks</h3>
        <button class="toggle">Stressor Task 1</button><br>
        <div class="innerModule" style="display:none;">
            <h4>Task Instructions</h4>
            <ul>
                <li>Instruct the subject to click "Experimental Tasks" on their screen.</li>
                <li>Instruct the subject to click "Test 1" and then "Go to Test 1"</li>
                <li>Have the subject read the instructions on their screen before starting the task.</li>
                <li>The subject must press "Start Test", speak each answer aloud, and press "submit" to register the answer.</li>
                <li>The subject must click "Task Completed" when the task is finished.</li>
            </ul>
        </div><br>

        <!-- Task for continuous recording -->
        <button class="toggle">Task 1 (General Recording)</button><br>
        <div class="innerModule" id='taskGenDiv1' style="display:none">
            <h4>Task Instructions</h4>
            <ul>
                <li><span class="required">IMPORTANT:</span> If General Recording is chosen, do NOT perform any other recording tasks while it is active.</li>
                <li>General Recording is continuous for the length of the task</li>
                <li>Select condition from the drop menu below before beginning task.</li>
                <li>Press "Start Recording" to begin the task.</li>
                <li>Press "Stop Recording" when the task is completed.</li>
                <li>After the task is completed, press "Calculate Rest Time."</li>
                <li>The subject must click "Task Completed" when the task is finished.</li>
            </ul><br>

            <select onchange="updateCondition('taskGenDiv1', 'task_1')">
                <option value="no_condition" selected>Select Condition</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>

            <button id="task_1_recording">Start Recording</button><br><br>
            <div class="meter"><div class="level"></div></div><br>
            <p id="recordingStatus1" style="display:none;">Please wait...</p>
            <button id="compareTask1Button" class="compareToBaseline">Calculate Rest Time</button><br><br>
            <p id="compareTask1status"></p>
        </div><br>

        <button class="toggle">Task 1</button><br>
        <div class="innerModule" id="taskDiv1" style="display:none">
            <h4>Task Instructions</h4>
            <ul>
                <li>Select condition from the drop menu below before beginning the task.</li>
                <li>Click "Go to Task" and follow the instructions at the top of the page.</li>
                <li>The subject must click "Task Completed" when the task is finished.</li>
            </ul><br>
            <select onchange="updateCondition('taskDiv1', 'task_1')">
                <option value="no_condition" selected>Select Condition</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>
            <button class="openRoomObservationTask">Go to Task</button><br><br>
        </div><br>

        <button class="toggle">IAT Task 1</button><br>
        <div class="innerModule" style="display:none;">
            <h4>IAT Instructions</h4>
            <ul>
                <li>Direct the subject to the IAT task.</li>
                <li><span class="required">IMPORTANT:</span> Click "Start Task" to set the event marker to "iat_task".</li>
            </ul><br>
            <button class="IATButton">Start Task</button><br><br>
        </div><br>

        <button class="toggle">PRS Task 1</button><br>
        <div class="innerModule" id='prsDiv1' style="display:none">
            <h4>PRS Instructions</h4>
            <ul>
                <li>Select condition from the drop menu below before beginning the task.</li>
                <li>Have the subject put on the VR headset and read the instructions on their screen before starting the task.</li>
                <li>Press "Start Task" to open the PRS task window</li>
                <li>Continue with the instructions at the top of the PRS page.</li>
                <li>After the task is completed, return here and click "Calculate Rest Time."</li>
                <li>The subject must click "Task Completed" when the task is finished.</li>
            </ul>
            <select onchange="updateCondition('prsDiv1', 'prs_1')">
                <option value="no_condition" selected>Select an option</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>
            <button class="startPRSTask">Start Task</button><br><br>
            <button id="comparePRS1Button" class="compareToBaseline">Calculate Rest Time</button><br><br>
            <p id="comparePRS1status"></p>
        </div><br>

        <button class="toggle">Break 1</button><br>
        <div class="innerModule" style="display:none;">
            <h4>Break Instructions</h4>
            <ul>
                <li>Have the subject click the "Take Break" button.</li>
                <li>Once they are on the break page, have them select the "Break 1" button.</li>
                <li>Instruct the subject to watch the video for the amount of time listed in the instructions on their screen.</li>
                <li>The subject must click "Task Completed" when the task is finished.</li>
            </ul>
        </div><br>

        <button class="toggle">Stressor Task 2</button><br>
        <div class="innerModule" style="display:none;">
            <h4>Task Instructions</h4>
            <ul>
                <li>Instruct the subject to click "Test 2" and then "Go to Test 2"</li>
                <li>Have the subject read the instructions on their screen before starting the task.</li>
                <li>The subject must press "Start Test", speak each answer aloud, and press "submit" to register the answer.</li>
                <li>The subject must click "Task Completed" when the task is finished.</li>
            </ul><br>
        </div><br>

        <button class="toggle">Task 2 (General Recording)</button><br>
        <div class="innerModule" id="taskGenDiv2" style="display:none">
            <h4>Task Instructions</h4>
            <ul>
                <li><span class="required">IMPORTANT:</span> If General Recording is chosen, do NOT perform any other recording tasks while it is active.</li>
                <li>General Recording is continuous for the length of the task</li>
                <li>Select condition from the drop menu below before beginning task.</li>
                <li>Press "Start Recording" to begin the task.</li>
                <li>Press "Stop Recording" when the task is completed.</li>
                <li>After the task is completed, press "Calculate Rest Time."</li>
            </ul><br>

            <select onchange="updateCondition('taskGenDiv2', 'task_2')">
                <option value="no_condition" selected>Select an option</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>

            <button id="task_2_recording">Start Recording</button><br><br>
            <div class="meter"><div class="level"></div></div><br>
            <p id="recordingStatus2" style="display:none;">Please wait...</p>
            <button id="compareTask2Button" class="compareToBaseline">Calculate Rest Time</button><br><br>
            <p id="compareTask2status"></p>
        </div><br>

        <button class="toggle" id="taskButton2">Task 2</button><br>
        <div class="innerModule" id="taskDiv2" style="display:none">
            <h4>Task Instructions</h4>
            <ul>
                <li>Select condition from the drop menu below before beginning the task.</li>
                <li>Click "Go to Task" and follow the instructions at the top of the page.</li>
                <li>Make sure the subject clicks "Task Completed" when the the task is finished.</li>
            </ul>
            <select onchange="updateCondition('taskDiv2', 'task_2')">
                <option value="no_condition" selected>Select an option</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>

            <button class="openRoomObservationTask">Go to Task</button><br><br>
        </div><br>
        
        <button class="toggle">IAT Task 2</button><br>
        <div class="innerModule" style="display:none;">
            <h4>IAT Instructions</h4>
            <ul>
                <li>Direct the subject to the IAT task.</li>
                <li><span class="required">IMPORTANT:</span> Click "Start Task" to set the event marker to "iat_task".</li>
            </ul><br>
            <button class="IATButton">Start Task</button><br><br>
        </div><br>

        <button class="toggle">PRS Task 2</button><br>
        <div class="innerModule" id="prsDiv2" style="display:none">
            <h4>PRS Instructions</h4>
            <ul>
                <li>Have the subject put on the VR headset and read the instructions on their screen before starting the task.</li>
                <li>Press "Start Task" to open the PRS task window</li>
                <li>Continue with the instructions there.</li>
                <li>After the task is completed, return here and press "Calculate Rest Time."</li>
                <li>The subject must click "Task Completed" when the task is finished.</li>
            </ul>
            <select onchange="updateCondition('prsDiv2', 'prs_2')">
                <option value="no_condition" selected>Select an option</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>
            <button class="startPRSTask">Start Task</button><br><br>
            <button id="comparePRS2Button" class="compareToBaseline">Calculate Rest Time</button><br><br>
            <p id="comparePRS2status"></p>
        </div><br>

        <button class="toggle">Break 2</button><br>
        <div class="innerModule" style="display:none;">
            <h4>Instructions for the break:</h4>
            <ul>
                <li>Have the subject click the "Take Break" button.</li>
                <li>Once they are on the break page, have them select the "Break 2" button.</li>
                <li>Instruct the subject to watch the video for the amount of time listed in the instructions on their screen.</li>
                <li>The subject must click "Task Completed" when the task is finished.</li>
            </ul>
        </div><br>
    </div>

    <h2>Post-Test</h2>
    <button class="toggle">Post-test Tasks</button>
    <div class="testModule" style="display:none;">
        <button class="toggle">Exit Survey</button><br>
        <div class="innerModule" style="display:none;">
            <h4>Exit Survey</h4>
            <p>Instructions</p>
            <ul>
                <li>Instruct the subject to fill out the exit survey before completing the experiment.</li>
            </ul>
        </div><br>
        <button class="toggle stopEmotibit">Stop Emotibit</button><br>
        <div class="innerModule" id="emotibitDiv" style="display:none;">
            <p class="emotibitStatus"></p>
        </div><br>

        <button class="toggle">Post Processing</button>
        <div class="innerModule" style="display:none;">
            <h4>EmotiBit Post Processing</h4>
            <p>Instructions</p>
            <ul>
                <li>Click "Convert EmotiBit Data" to convert EmotiBit hdf5 data to csv.</li>
                <li>To import the ground truth data from the EmotiBit, first transfer the csv file from the EmotiBit SD card.</li>
                <li>Click "Import EmotiBit Data" and select the file from the location in which it was stored.</li>
                <li>Once imported, the csv file will be renamed to indicate the subject ID and copied into the subject data folder.</li>
            </ul><br>
            <button id="convertEmotibitData">Convert EmotiBit Data</button><br>
            <p id="postProcessingStatus"></p>
            <button id="openEmotibitDialog">Import EmotiBit Data</button><br>
            <input type="file" id="emotibitFileInput" style="display: none;" onchange="selectEmotibitFile(event)" /><br>
            <p id="uploadEmotibitStatus"></p>
            <p id="emotibitFilePath"></p>
        </div><br>
    </div><br>

    <h2>More Tools</h2>
    <button class="toggle">Show Tools</button>
    <div class="testModule" style="display:none;">
        <button class="toggle">External Google Forms</button><br>
        <div class="innerModule" style="display:none;" disabled>
            <h4>Upload External Surveys</h4>
            <p>Instructions</p>
            <ul>
                <li>First convert Google Form responses to Google Sheet and dowload the sheet as CSV. Be sure to remember the download destination</li>
                <li>Click "Upload File", navigate to the destination folder and select the CSV.</li>
                <li>If the subject's ID or name and email are found, their survey responses will be stored in the data folder for the current ID.</li>
            </ul><br>
            <button id="openFileDialog">Upload File</button><br><br>
            <input type="file" id="fileInput" style="display: none;" onchange="selectCSVFile(event)" />
            <p id="uploadCSVstatus"></p>
            <p id="csvFilePath"></p>
        </div><br>

        <button class="toggle">Additional Surveys</button><br>
        <div class="innerModule" style="display:none;">
            <h4>Upload Blank Google Form Survey</h4>
            <p>Instructions</p>
            <ul>
                <li>Create the Google Form survey you would like to add.</li>
                <li><span class="required">IMPORTANT:</span> Include an "ID" text entry at the head of the survey.</li>
                <li>Submit the name and URL of the survey you want to add with the form below.</li>
            </ul>
            
            <form id="surveyForm" action="/upload_survey" method="POST">
                <label for="survey_name">Survey Name:</label>
                <input type="text" id="survey_name" name="survey_name" required><br><br>
                <label for="survey_url">Survey URL:</label>
                <input type="text" id="survey_url" name="survey_url" required><br><br>
                <button type="submit">Upload Survey</button>
            </form><br>
            <p id="uploadSurveyStatus"></p>

            <h4>Launch a Survey</h4>
            <p>Instructions</p>
            <ul>
                <li>Enter the name of the survey you would like to launch.</li>
                <li>If it exists in the current list, The survey will be embedded in a separate window.</li>
                <li>When the survey is launched, the subject ID will appear below.</li>
                <li>Copy the subject ID below and paste it into the ID cell of the survey</li>
            </ul><br>
            <form id="openSurvey">
                <label for="surveyName">Enter Survey Name:</label>
                <input type="text" id="surveyName" name="surveyName" required>
                <button type="submit">Open Survey</button>
            </form><br>
            <p id="subjectIDDisplay"></p>
            <p id="fetchedSurveyStatus"></p>
        </div><br>
        
        <button class="toggle">Subject Encryption</button><br>
        <div class="innerModule" style="display:none;">
            <h4>Encrypt Subject Name and Email</h4>
            <p>Instructions</p>
            <ul>
                <li>Use this to derive the obfuscated ID for a subject if you need to search the subject data files for a match.</li>
                <li>Otherwise, this algorithm runs automatically when subjects enter their information on the subject dashboard.</li>
                <li>Enter the subject's email address below.</li>
                <li>Click "Encrypt Subject" to generate a unique subject ID.</li>
            </ul>
            <form id="encryptSubject" action="/encrypt_subject" method="POST">
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required><br><br>
                <button type="submit">Encrypt Subject</button>
            </form>
            <p id="notification3" style="display:none; color: green;">Subject ID generated successfully!</p>
            <p id="errorNotification3" style="display:none; color: red;">Error generating subject ID.</p>
            <p id="encryptionStatus" style="display:none;"></p><br>
        </div><br>

        <button class="toggle">Subject Decryption</button><br>
        <div class="innerModule" style="display:none;">
            <h4>Decrypt Subject ID string</h4>
            <p>Instructions</p>
            <ul>
                <li>Use this to get the first name, last name, and email of subject if you need to search the subject data files for a match.</li>
                <li>Enter the ID string.</li>
                <li>Click "Decrypt Subject" to generate a unique subject ID.</li>
            </ul>
            <form id="decryptSubject" action="/decrypt_subject" method="POST">
                <label for="id_string">Encrypted ID String:</label>
                <input type="text" id="id_string" name="id_string" required><br><br>
                <button type="submit">Decrypt Subject</button>
            </form>
            <p id="notification4" style="display:none; color: green;">Subject name and email retrieved successfully!</p>
            <p id="errorNotification4" style="display:none; color: red;">Error getting name and email.</p>
            <p id="decryptionStatusName" style="display:none;"></p>
            <p id="decryptionStatusEmail" style="display:none;"></p>
        </div><br>
    </div><br>

    
    <h2>Shutdown</h2>
    <button class="stopServer">Shutdown Server</button>
    </div>
    <!-- <script src="/static/js/scripts.js"></script> -->
    <script>
        const openFileDialog = document.getElementById('openFileDialog');
        const emotibitFilePath = document.getElementById('emotibitFilePath');
        const uploadEmotibitStatus = document.getElementById('uploadEmotibitStatus');
        const biometricStatusMessage = document.getElementById('biometricStatusMessage');
        const startEmotibitButton = document.getElementById('startEmotibitButton');
        const startIATButtons = document.querySelectorAll('IATButton');
        const comparePRS1Button = document.getElementById('comparePRS1Button');
        const comparePRS2Button = document.getElementById('comparePRS2Button');
        const compareTask1Button = document.getElementById('compareTask1Button');
        const compareTask2Button = document.getElementById('compareTask2Button');
        const comparePRS1status = document.getElementById('comparePRS1status');
        const comparePRS2status = document.getElementById('comparePRS2status');
        const compareTask1status = document.getElementById('compareTask1status');
        const compareTask2status = document.getElementById('compareTask2status');
        const testAudioOutput = document.getElementById('testAudioOutput');
        const emotibitDiv = document.getElementById('emotibitDiv');
        const encryptSubject = document.getElementById('encryptSubject');
        const decryptSubject = document.getElementById('decryptSubject');
        const decryptionStatusName = document.getElementById('decryptionStatusName');
        const decryptionStatusEmail = document.getElementById('decryptionStatusEmail');
        const encryptionStatus = document.getElementById('encryptionStatus');
        const postProcessingStatus = document.getElementById('postProcessingStatus');   
        const launchSubjectGUI = document.getElementById('launchSubjectGUI');
        const recTaskGen1 = document.getElementById('task_1_recording');
        const recTaskGen2 = document.getElementById('task_2_recording');
        const startPRSTaskButtons = document.querySelectorAll('.startPRSTask');
        const baselineButton = document.getElementById("startBiometricBaseline");
        // const compareBaselineButtons = document.querySelectorAll('.compareToBaseline');
        const audioDevicesDropdown = document.getElementById('audioDevices');
        const notification3 = document.getElementById('notification3');
        const errorNotification3 = document.getElementById('errorNotification3');
        const notification4 = document.getElementById('notification4');
        const errorNotification4 = document.getElementById('errorNotification4');
        const convertEmotibitData = document.getElementById('convertEmotibitData')
        const roomObservationButtons = document.querySelectorAll('.openRoomObservationTask');
        const stopServerButtons = document.querySelectorAll('.stopServer');
        const stopEmotibitButtons = document.querySelectorAll('.stopEmotibit');
        const emotibitStatus = document.querySelectorAll('.emotibitStatus');
        const openEmotibitDialog = document.getElementById('openEmotibitDialog');

        openEmotibitDialog.addEventListener('click', function() {
            document.getElementById('emotibitFileInput').click();
        });

        openFileDialog.addEventListener('click', function() {
            document.getElementById('fileInput').click();
        });

        const uploadCSVstatus = document.getElementById('uploadCSVstatus');
        const csvFilePath = document.getElementById('csvFilePath');
        function selectCSVFile(event){
            const file = event.target.files[0];
            if(file){
                console.log("Selected File: ", file.name);
                const formData = new FormData();
                formData.append('csv_file', file);
                fetch('/upload_surveys_csv', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if (data.message === "Invalid file type. Only CSV files are allowed." || 
                        data.message === "Subject information is not set." ||
                        data.message === "Survey response or email column not found.") {
                        uploadCSVstatus.innerText = data.message;
                        return;
                    } else {
                        uploadCSVstatus.innerText = data.message;
                        csvFilePath.innerText = `File Path: ${data.file_path}`;
                    }
                })
                .catch(error => uploadCSVstatus.innerText = "An error occurred.");
            } else {
                uploadCSVstatus.innerText = 'No file selected.';
            }
        }

        function selectEmotibitFile(event) {
            const file = event.target.files[0];
            const formData = new FormData();
            formData.append('emotibit_file', file);
            fetch('/import_emotibit_csv', {
                method: 'POST',
                body: formData
            })
            .then(response => response.json())
            .then(data => {
                if (data && data.message) {
                    uploadEmotibitStatus.innerText = data.message;
                    uploadEmotibitStatus.style.display = "block";
                    if (data.file_path) {
                        emotibitFilePath.innerText = `File Path: ${data.file_path}`;
                    }
                } else {
                    throw new Error('Invalid response structure');
                }
            })
            .catch(error => {
                uploadEmotibitStatus.innerText = "error uploading";
                uploadEmotibitStatus.style.display = "block";
            });
        }

        document.addEventListener("DOMContentLoaded", function () {;
            const uploadSurveyStatus = document.getElementById('uploadSurveyStatus');
            const form = document.getElementById('surveyForm');

            form.addEventListener('submit', function(event) {
                event.preventDefault();
                const formData = new FormData(form);
                fetch('/upload_survey', {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    uploadSurveyStatus.innerText = data.message;
                    uploadSurveyStatus.style.display = "block";
                })
                .catch(error => {
                    uploadSurveyStatus.innerText = data.error;
                    uploadSurveyStatus.style.display = "block";
                });
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            const subjectIDDisplay = document.getElementById('subjectIDDisplay');
            const fetchedSurveyStatus = document.getElementById('fetchedSurveyStatus');
            const form = document.getElementById('openSurvey');

            form.addEventListener('submit', function(event) {
                event.preventDefault();
                const formData = new FormData(form);
                const surveyName = formData.get('surveyName');
                fetch(`/survey/${surveyName}`)
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Survey not found');
                        }
                        return response.text();
                    })
                    .then(html => {
                        // Open the survey page in a new window if it's valid
                        const newWindow = window.open('', '_blank', 'width=800,height=600');
                        newWindow.document.write(html); // Write the HTML content into the new window
                        newWindow.document.close(); // Close the document to render the page
                        getSubjectID();
                    })
                    .catch(error => {
                        alert('An error occurred: ' + error.message);
                    }); 
            });

            function getSubjectID() {
                fetch('/get_subject_id')
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('subjectIDDisplay').innerText = `Subject ID: ${data.subject_id}`;
                    })
                    .catch(error => {
                        console.error('Error fetching subject ID:', error);
                    });
            }
        });

        document.addEventListener("DOMContentLoaded", () => {
            comparePRS1Button.addEventListener("click", function(){
                compareToBaseline(comparePRS1status);
            });
            comparePRS2Button.addEventListener("click", function(){
                compareToBaseline(comparePRS2status);
            });
            compareTask1Button.addEventListener("click", function(){
                compareToBaseline(compareTask1status);
            });
            compareTask2Button.addEventListener("click", function(){
                compareToBaseline(compareTask2status);
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            const form = encryptSubject;
            form.addEventListener("submit", function(event){
                event.preventDefault();
                const formData = new FormData(form);
                fetch("/encrypt_subject", {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    encryptionStatus.innerText = `Encrypted ID: ${data.message}`;
                    encryptionStatus.style.display = "block";
                    notification3.style.display = "block";
                    errorNotification3.style.display = "none";
                })
                .catch(error => {
                    notification3.style.display = "none";
                    encryptionStatus.style.display = "block";
                    encryptionStatus.innerText = `Error: ${data.error}`;
                    errorNotification3.style.display = "block";
                });
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            const form = decryptSubject;
            form.addEventListener("submit", function(event){
                event.preventDefault();
                const formData = new FormData(form);
                fetch("/decrypt_subject", {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    if(data.message === 'Subject not found.'){
                        decryptionStatusName.style.display = "none";
                        decryptionStatusEmail.style.display = "none";
                        notification4.style.display = "none";
                        errorNotification4.style.display = "block";
                        errorNotification4.innerText = data.message;
                        return;
                    }

                    decryptionStatusName.innerText = `Full Name: ${data.full_name}`;
                    decryptionStatusName.style.display = "block";
                    decryptionStatusEmail.innerText = `Email: ${data.email}`;
                    decryptionStatusEmail.style.display = "block";
                    notification4.style.display = "block";
                    errorNotification4.style.display = "none";
                })
                .catch(error => {
                    notification4.style.display = "none";
                    errorNotification4.style.display = "block";
                    errorNotification4.innerText = data.error;
                    console.log(data.error);
                });
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            const form = document.getElementById('experimentNameForm');
            const notification = document.getElementById("notification1");
            const errorNotification = document.getElementById("errorNotification1");

            form.addEventListener("submit", function(event){
                event.preventDefault();
                const formData = new FormData(form);
                fetch("/submit_experiment", {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    notification.style.display = "block";
                    errorNotification.style.display = "none";
                    notification.innerText = data.message;
                })
                .catch(error => {
                    notification.style.display = "none";
                    errorNotification.style.display = "block";
                    errorNotification.innerText = data.error;
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function() {
            launchSubjectGUI.addEventListener('click', function() {
                window.open('/subject_gui', '_blank', 'width=1200, height=720');
            });
        });
        
        document.addEventListener('DOMContentLoaded', function(){
            startEmotibitButton.addEventListener('click', function() {
                startEmotibit();
            });

            baselineButton.addEventListener("click", function() {
                if (baselineButton.innerText == "Start Collecting Baseline") {
                    setEventMarker('biometric_baseline');
                    startBaseline();
                    
                    baselineButton.innerText = "Stop Collecting Baseline";
                } else {
                    setEventMarker('subject_idle')
                    stopBaseline();
                    baselineButton.innerText = "Start Collecting Baseline";
                }
            });

            // compareBaselineButtons.forEach(button => {
            //     button.addEventListener('click', function() {
            //         compareToBaseline();
            //     });
            // });

            roomObservationButtons.forEach(button => {
                button.addEventListener('click', function() {
                    window.open('/room_observation', '_blank', 'width=800, height=600');
                });
            });

            startIATButtons.forEach(button => {
                setEventMarker('IAT_task')
            });

            startPRSTaskButtons.forEach(button => {
                button.addEventListener('click', function() {
                    window.open('/prs', '_blank', 'width=800, height=600');
                });
            })
        });

        document.addEventListener('DOMContentLoaded', (event) => {
            console.log('Fetching audio devices...');
            fetchAudioDevices();
            audioDevicesDropdown.addEventListener('change', setDevice);
        });

        document.addEventListener('DOMContentLoaded', function() {
            testAudioOutput.addEventListener('click', function() {
                let beepCount = 0;
                const interval = setInterval(function() {
                    playTestTone();
                    beepCount++;
                    if (beepCount === 3) {
                        clearInterval(interval);
                    }
                }, 1000); 
            });

            function playTestTone() {
                const audioContext = new (window.AudioContext || window.webkitAudioContext)();
                const oscillator = audioContext.createOscillator();
                const gainNode = audioContext.createGain();
                oscillator.type = 'sine';
                oscillator.frequency.setValueAtTime(440, audioContext.currentTime);
                gainNode.gain.setValueAtTime(0.3, audioContext.currentTime);
                oscillator.connect(gainNode);
                gainNode.connect(audioContext.destination);
                oscillator.start();
                setTimeout(() => {
                    oscillator.stop();
                    // audioContext.close();
                }, 500); 
            }
        });

        document.addEventListener('DOMContentLoaded', function(){
            recTaskGen1.addEventListener('click', function() {
                if (recTaskGen1.innerText == "Start Recording"){
                    recTaskGen1.innerText = "Stop Recording";
                    recordTask(recTaskGen1, 'start');
                } else {
                    recTaskGen1.innerText = "Start Recording";
                    recordTask(recTaskGen1, 'stop');
                }
            });
            
            recTaskGen2.addEventListener('click', function() {
                if (recTaskGen2.innerText == "Start Recording"){
                    recTaskGen2.innerText = "Stop Recording";
                    recordTask(recTaskGen2, 'start');
                } else {
                    recTaskGen2.innerText = "Start Recording";
                    recordTask(recTaskGen2, 'stop');
                }
            });

            function recordTask(button, action){
                const buttonId = button.id;
                const statusId1 = document.getElementById("recordingStatus1");
                const statusId2 = document.getElementById("recordingStatus2");
                console.log(`Button ID: ${buttonId}`);

                const parentDiv = button.closest('div');
                const selectedCondition = parentDiv.querySelector('select').value;
                let eventMarker = `${buttonId}_${selectedCondition}`;

                if(action === 'start') {
                    if (buttonId == 'task_1_recording'){
                        statusId1.style.display = 'block';
                        statusId1.innerText = 'Please wait...';
                    } else if (buttonId == 'task_2_recording'){
                        statusId2.style.display = 'block';
                        statusId2.innerText = 'Please wait...';
                    }
                } else {;
                    if (buttonId == 'task_1_recording'){
                        statusId1.style.display = 'block';
                        statusId1.innerText = 'Audio processing. Please wait...';
                    } else if (buttonId == 'task_2_recording'){
                        statusId2.style.display = 'block';
                        statusId2.innerText = 'Audio processing. Please wait...';
                    }
                }
                // DEBUG
                console.log(`eventMarker: ${eventMarker}, action: ${action}`); 

                fetch('/record_task', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        event_marker: eventMarker,
                        action: action
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    if(buttonId == 'task_1_recording'){
                        statusId1.style.display = 'block';
                        statusId1.innerText = data.message;
                    } else if (buttonId == 'task_2_recording'){
                        statusId2.style.display = 'block';
                        statusId2.innerText = data.message;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    if(buttonId == 'task_1_recording'){
                        statusId1.style.display = 'block';
                        statusId1.innerText = data.message;
                    } else if (buttonId == 'task_2_recording'){
                        statusId2.style.display = 'block';
                        statusId2.innerText = data.message;
                    }
                });
                if (action === 'start'){
                    playBeep();
                }
            }
            
            convertEmotibitData.addEventListener('click', function() {
                fetch('/convert_emotibit_data', {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    postProcessingStatus.innerText = data.message;
                    console.log(data.message);
                })
                .catch(error => {
                    postProcessingStatus.innerText = data.error;
                    console.error('Error:', error);
                });
            });

            stopServerButtons.forEach(button => {
                button.addEventListener('click', function() {
                    fetch('/shutdown', {
                        method: 'POST'
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data.message);
                    })
                    .catch(error => {
                        console.error('Error:', error);
                    });
                });
            });

            stopEmotibitButtons.forEach(button => {
                button.addEventListener('click', function() {
                    fetch('/stop_emotibit', {
                        method: 'POST'
                    })
                    .then(response => {
                        if (!response.ok) {
                            throw new Error('Network response was not ok ' + response.statusText);
                        }
                        return response.json();
                    })
                    .then(data => {
                        emotibitDiv.style.display = 'block';
                        emotibitStatus.forEach(status => {
                            status.innerText = data.message;
                        });
                        console.log(data.message);
                    })
                    .catch(error => {
                        emotibitDiv.style.display = 'block';
                        emotibitStatus.forEach(status => {
                            status.innerText = error.message || "An error occurred.";
                        });
                        console.error('Error:', error);
                    });
                });
            });
        });
    </script>
</body>
</html>