<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiment Dashboard</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Experiment Dashboard</h1>
    
    <h2>Pre-Test</h2>
    <div class="testModule" id="preTestDiv">
    <button id="experimentTrialNameButton">Experiment/Trial Information</button><br>
    <div class="innerModule" id="experimentTrialNameDiv" style="display:block;">
        <h3>Experiment/Trial Information</h3>
        <p>Instructions</p>
        <ul>
            <li>Enter the name of the experiment and the name of the trial in the fields below.</li>
            <li>Click "Submit" to save the experiment and trial names.</li>
            <li>IMPORTANT: This information must be entered before starting the experiment</li>
        </ul>
        <form id="experimentNameForm" action="/submit_experiment" method="POST">
            <label for="experiment_name">Experiment Name:</label>
            <input type="text" id="experiment_name" name="experiment_name" required><br><br>
            <label for="trial_name">Trial Name:</label>
            <input type="text" id="trial_name" name="trial_name" required><br><br>
            <button type="submit">Submit</button>
        </form><br>
        <div id="notification1" style="display:none; color: green;"></div>
        <div id="errorNotification1" style="display:none; color: red;"></div>
    </div><br>

    <button id="subjectInstructionsButton">Subject Instructions</button><br>
    <div class="innerModule" id="subjectInstructionsDiv" style="display:block">
        <h3>Subject Instructions</h3>
        <p>Please relay the following instructions to the subject.</p>
        <ul>
            <li>Subject must complete the tasks on their page in the order they appear.</li>
            <li>Subject must click "Task Completed" after each task is performed</li>
            <li>After "Task Completed" is clicked, the next task will appear.</li>
        </ul><br>
        <button id="launchSubjectGUI">Launch Subject GUI</button>
    </div><br>

    <button id="beginExperimentButton">Surveys</button><br>
    <div class="innerModule" id="surveysDiv" style="display:none">
        <h3>Surveys and Participant Information</h3>
        <h4>Survey Instructions</h4>
        <ul>
            <li>Subject must first fill out the "Subject Information" survey.</li>
            <li>Subject must fill out any additional surveys as they appear.</li>
            <li>Additional surveys may be added below.</li>
        </ul><br>
        <!-- <p><span class="required">*</span>Add any additional surveys and be sure to submit participant information before filling out surveys</p> -->
        <!-- <div id="surveyList">
            <h4>Current Surveys in Test Procedure</h4>
            <p id="surveyStatus" style="display:block;">No surveys generated. Submit subject information to generate surveys.</p>
        </div> -->

    </div><br>

    <button id="biometricBaselineButton">Biometrics Baseline</button><br>
    <div class="innerModule" id="biometricBaselineDiv" style="display:none;">
        <h4>Instructions for EmotiBit</h4>
        <p>Important: Subject must complete the "Subject Information" survey task before the EmotiBit can be started.</p>
        <ul>
            <li>Fit subject with the Emotibit (See supplementary material for fitting device onto subject).</li>
            <li>Power on the EmotiBit by sliding the DIP switch to the right.</li>
            <li>Press "Start Collecting Baseline" to start the EmotiBit streamer and begin collecting baseline data.</li>
            <li>NOTE: EmotiBit will run continuously until "Stop Emotibit" is clicked ("Post-Test" at bottom of page).</li>
        </ul>
        <button id="startBiometricBaseline">Start Collecting Baseline</button>
        <p id="biometricStatusMessage"></p>
    </div><br>

    <button id="testAudioButton">Test Audio</button><br>
    <div class="innerModule" id="testAudioDiv" style="display:none;">
        <h4>Instructions</h4>
        <ul>
            <li>Please select your audio input or microphone.</li>
            <li>Fit subject with microphone and headphones</li>
            <li>Instruct subject to follow the written directions on the "Test Audio" portion of their page.</li>
            <li>Test headphones: When subject is fitted with headphones, click "Test Audio Output" below.</li>
            <li>Test microphont: When subject is fitted with microphone, click "Start Monitoring" to monitor audio.</li>
            <li>Monitor the signal below and adjust microphone as needed.</li>
        </ul><br>
        <button id="testAudioOutput">Test Audio Output</button><br><br>

        <label for="audioDevices">Select Audio Input Device:</label><br><br>
        <select id="audioDevices" onchange="setDevice()"></select><br><br>

        <button onclick="startMonitoring()">Start Monitoring</button><br><br>
        <div class="meter"><div class="level"></div></div>
    </div> <br>
</div>
    <h2>Experimental Tasks</h2>

    <button id="tasksButton">Begin Tasks</button><br>
    <div class="testModule" id="tasksDiv" style="display:none;">

        <h3>Experimental Tasks</h3>
        <button id="firstStressTask">Stressor Task 1</button><br>
        <div class="innerModule" id="firstStressDiv" style="display:none;">
            <h4>Task Instructions</h4>
            <ul>
                <li>Have the subject read the instructions on their screen before starting the task.</li>
                <li>The subject must press "Start Test", speak each answer aloud, and press "submit" to register the answer.</li>
                <li>Click "Task Completed" when the subject has finished the task.</li>
            </ul><br>
            <button class="endTask">Task Completed</button>
        </div><br>

        <!-- Task for continuous recording -->
        <button id="taskButtonGeneral1">Task 1 (General Recording)</button><br>
        <div class="innerModule" id="taskGenDiv1" style="display:none">
            <h4>Task Instructions</h4>
            <ul>
                <li>Select condition from the drop menu below before beginning task.</li>
                <li>NOTE: Recording for this task is continuous for the length of the task</li>
                <li>Press "Start Recording" to begin the task.</li>
                <li>Press "Stop Recording" when the task is completed.</li>
                <li>Please note that post-processing may take several minutes.</li>
                <li>After the task is completed, press "Calculate Rest Time."</li>
            </ul><br>
            <select onchange="updateCondition('taskGenDiv1', 'task_1')">
                <option value="no_condition" selected>Select Condition</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>

            <button id="task_1_recording">Start Recording</button><br><br>
            <div class="meter"><div class="level"></div></div><br>
            <p id="recordingStatus1" style="display:none;">Please wait...</p>
            <button class="compareToBaseline">Calculate Rest Time</button><br><br>
            <button class="endTask">Task Completed</button>
        </div><br>

        <button id="taskButton1">Task 1</button><br>
        <div class="innerModule" id="taskDiv1" style="display:none">
            <h4>Task Instructions</h4>
            <ul>
                <li>Select condition from the drop menu below before beginning the task.</li>
                <li>Click "Go to Task" and follow the instructions at the top of the page.</li>
            </ul><br>
            <select onchange="updateCondition('taskDiv1', 'task_1')">
                <option value="no_condition" selected>Select Condition</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>
            <button class="openRoomObservationTask">Go to Task</button><br><br>
            <button class="endTask">Task Completed</button>
        </div><br>

        <button id="prsButton1">PRS Task</button><br>
        <div class="innerModule" id="prsDiv1" style="display:none">
            <h4>PRS Instructions</h4>
            <ul>
                <li>Select condition from the drop menu below before beginning the task.</li>
                <li>Have the subject put on the VR headset and read the instructions on their screen before starting the task.</li>
                <li>Press "Start Task" to open the PRS task window</li>
                <li>Continue with the instructions at the top of the PRS page.</li>
                <li>After the task is completed, return here and click "Calculate Rest Time."</li>
                <li>Click "Task Complete" when finished.</li>
            </ul>
            <select onchange="updateCondition('prsDiv1', 'prs_1')">
                <option value="no_condition" selected>Select an option</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>
            <button class="startPRSTask">Start Task</button><br><br>
            <button class="compareToBaseline">Calculate Rest Time</button><br><br>
            <button class="endTask">Task Completed</button>
        </div><br>

        <button id="breakButton1">Take Break</button><br>
        <div class="innerModule" id="break1Div" style="display:none;">
            <h4>Break Instructions</h4>
            <ul>
                <li>Have the subject click the "Take Break" button.</li>
                <li>Once they are on the break page, have them select the "Break 1" button.</li>
                <li>Instruct the subject to watch the video for the amount of time listed in the instructions on their screen.</li>
                <li>Click "Task Completed" when finished.</li>
            </ul>
            <button id="startBreak1">Start Break</button><br><br>
            <button class="endTask">Task Completed</button>
        </div><br>

        <button id="secondStressTask">Stressor Task 2</button><br>
        <div class="innerModule" id="secondStressDiv" style="display:none;">
            <h4>Task Instructions</h4>
            <ul>
                <li>Have the subject read the instructions on their screen before starting the task.</li>
                <li>The subject must press "Start Test", speak each answer aloud, and press "submit" to register the answer.</li>
                <li>Click "Task Completed" when the subject has finished the task.</li>
            </ul><br>
            <button class="endTask">Task Completed</button>
        </div><br>

        <button id="taskButtonGeneral2">Task 2 (General Recording)</button><br>
        <div class="innerModule" id="taskGenDiv2" style="display:none">
            <h4>Task Instructions</h4>
            <ul>
                <li>NOTE: Recording for this task is continuous for the length of the task</li>
                <li>Press "Start Recording" to begin the task.</li>
                <li>Press "Stop Recording" when the task is completed.</li>
                <li>Please note that post-processing may take several minutes.</li>
                <li>After the task is completed, press "Calculate Rest Time."</li>
                <li>Click "Task Completed" when finished.</li>
            </ul>
            <select onchange="updateCondition('taskGenDiv2', 'task_2')">
                <option value="no_condition" selected>Select an option</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>

            <button id="task_2_recording">Start Recording</button><br><br>
            <div class="meter"><div class="level"></div></div><br>
            <p id="recordingStatus2" style="display:none;">Please wait...</p>
            <button class="compareToBaseline">Calculate Rest Time</button><br><br>
            <button class="endTask">Task Completed</button>
        </div><br>

        <button id="taskButton2">Task 2</button><br>
        <div class="innerModule" id="taskDiv2" style="display:none">
            <h4>Task Instructions</h4>
            <ul>
                <li>Select condition from the drop menu below before beginning the task.</li>
                <li>Click "Go to Task" and follow the instructions at the top of the page.</li>
                <li>Click "Task Completed" when the subject has finished the task.</li>
            </ul>
            <select onchange="updateCondition('taskDiv2', 'task_2')">
                <option value="no_condition" selected>Select an option</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select><br><br>

            <button class="openRoomObservationTask">Go to Task</button><br><br>
            <button class="endTask">Task Completed</button>
        </div><br>
        
        <button id="prsButton2">PRS Task</button><br>
        <div class="innerModule" id="prsDiv2" style="display:none">
            <h4>PRS Instructions</h4>
            <ul>
                <li>Have the subject put on the VR headset and read the instructions on their screen before starting the task.</li>
                <li>Press "Start Task" to open the PRS task window</li>
                <li>Continue with the instructions there.</li>
                <li>After the task is completed, return here and press "Calculate Rest Time."</li>
            </ul>
            <select onchange="updateCondition('prsDiv2', 'prs_2')">
                <option value="no_condition" selected>Select an option</option>
                <option value="physical_plants">Physical / Plants</option>
                <option value="physical_no_plants">Physical / No Plants</option>
                <option value="virtual_plants">Virtual / Plants</option>
                <option value="virtual_no_plants">Virtual / No Plants</option>
            </select>
            <button class="startPRSTask">Start Task</button><br><br>
            <button class="compareToBaseline">Calculate Rest Time</button><br><br>
            <button class="endTask">Task Completed</button>
        </div><br>

        <button id="breakButton2">Take a Break</button><br>
        <div class="innerModule" id="break2Div" style="display:none;">
            <h4>Instructions for the break:</h4>
            <ul>
                <li>Have the subject click the "Take Break" button.</li>
                <li>Once they are on the break page, have them select the "Break 2" button.</li>
                <li>Instruct the subject to watch the video for the amount of time listed in the instructions on their screen.</li>
                <li>Press the "Start Break" button below.</li>
            </ul>
            <button id="startBreak2">Start Break</button><br><br>
            <button class="endTask">Task Completed</button>
        </div><br>
    </div>

    <h2>Post-Test</h2>
    <button id="postTestButton">Post-test Tasks</button>
    <div class="testModule" style="display:none;" id="postTestDiv">
        <button id="stopEmotibit">Stop Emotibit</button><br>
        <div id="emotibitDiv" style="display:none;">
            <p id="emotibitStatus"></p>
        </div><br>

        <button id="addSurveyButton">External Surveys</button><br>
        <div class="innerModule" id="addSurveyDiv" style="display:none;" disabled>
            <h4>Upload External Surveys</h4>
            <p>Instructions</p>
            <ul>
                <li>First dowload the survey csv from Google Forms. Be sure to choose a download destination</li>
                <li>Click "Upload File", navigate to the destination folder and select the csv.</li>
            </ul><br>
            <button onclick="openFileDialog()">Upload File</button><br><br>
            <input type="file" id="fileInput" style="display: none;" onchange="handleFileSelect(event)" />
            <p id="uploadCSVstatus"></p>
        </div><br>

        <button id="postProcessingButton">Post Processing</button>
        <div class="innerModule" id="postProcessingDiv" style="display:none;">
            <h4>EmotiBit Post Processing</h4>
            <p>Instructions</p>
            <ul>
                <li>Click "Convert EmotiBit Data" to convert EmotiBit hdf5 data to csv.</li>
            </ul><br>
            <button id="uploadSubjectData">Convert EmotiBit Data</button><br><br>
            <p id="postProcessingStatus"></p>
        </div><br>
    </div>

    <h2>More Tools</h2>
    <button id="moreToolsButton">Show Tools</button>
    <div class="testModule" id="moreToolsDiv" style="display:none;">
        <button id="encryptionButton">Subject Encryption</button><br>
        <div class="innerModule" id="encryptionDiv" style="display:none;">
            <h4>Encrypt Subject Name and Email</h4>
            <p>Instructions</p>
            <ul>
                <li>Use this to derive the encrypted ID of subject if you need to search the subject data files for a match.</li>
                <li>Otherwise, this algorithm runs automatically when subjects enter their information on the subject dashboard.</li>
                <li>Enter the subject's first name, last name, and email address below.</li>
                <li>Click "Encrypt Subject" to generate a unique subject ID.</li>
            </ul>
            <form id="encryptSubject" action="/encrypt_subject" method="POST">
                <label for="first_name">First Name:</label>
                <input type="text" id="first_name" name="first_name" required><br><br>
                <label for="last_name">Last Name:</label>
                <input type="text" id="last_name" name="last_name" required><br><br>
                <label for="email">Email:</label>
                <input type="text" id="email" name="email" required><br><br>
                <button type="submit">Encrypt Subject</button>
            </form>
            <p id="notification3" style="display:none; color: green;">Subject ID generated successfully!</p>
            <p id="errorNotification3" style="display:none; color: red;">Error generating subject ID.</p>
            <p id="encryptionStatus" style="display:none;"></p><br>
        </div><br>

        <button id="decryptionButton">Subject Decryption</button><br>
        <div class="innerModule" id="decryptionDiv" style="display:none;">
            <h4>Encrypt Subject Name and Email</h4>
            <p>Instructions</p>
            <ul>
                <li>Use this to get the first name, last name, and email of subject if you need to search the subject data files for a match.</li>
                <li>Enter the encryption string.</li>
                <li>Click "Decrypt Subject" to generate a unique subject ID.</li>
            </ul>
            <form id="decryptSubject" action="/decrypt_subject" method="POST">
                <label for="id_string">Encrypted ID String:</label>
                <input type="text" id="id_string" name="id_string" required><br><br>
                <button type="submit">Decrypt Subject</button>
            </form>
            <p id="notification4" style="display:none; color: green;">Subject name and email retrieved successfully!</p>
            <p id="errorNotification4" style="display:none; color: red;">Error getting name and email.</p>
            <p id="decryptionStatusName" style="display:none;"></p>
            <p id="decryptionStatusEmail" style="display:none;"></p>
        </div>
    </div><br>

    <h2>Shutdown</h2>
    <button id="shutdownButton">Shutdown Server</button>

    <!-- <script src="/static/js/scripts.js"></script> -->
    <script>
        const testAudioOutput = document.getElementById('testAudioOutput');
        const stopEmotibitButton = document.getElementById('stopEmotibit');
        const emotibitDiv = document.getElementById('emotibitDiv');
        const moreToolsButton = document.getElementById('moreToolsButton');
        const moreToolsDiv = document.getElementById('moreToolsDiv');
        const postTestButton = document.getElementById('postTestButton');
        const encryptSubject = document.getElementById('encryptSubject');
        const decryptSubject = document.getElementById('decryptSubject');
        const decryptionButton = document.getElementById('decryptionButton');
        const decryptionDiv = document.getElementById('decryptionDiv');
        const decryptionStatusName = document.getElementById('decryptionStatusName');
        const decryptionStatusEmail = document.getElementById('decryptionStatusEmail');
        const encryptionButton = document.getElementById('encryptionButton');
        const encryptionDiv = document.getElementById('encryptionDiv');
        const encryptionStatus = document.getElementById('encryptionStatus');
        const postProcessingButton = document.getElementById('postProcessingButton');
        const postProcessingDiv = document.getElementById('postProcessingDiv');
        const postProcessingStatus = document.getElementById('postProcessingStatus');   
        const subjectInstructionsButton = document.getElementById('subjectInstructionsButton');
        const completedTaskButtons = document.querySelectorAll('.endTask');
        const experimentTrialNameButton = document.getElementById('experimentTrialNameButton');
        const addSurveyButton = document.getElementById('addSurveyButton')
        const beginExperimentButton = document.getElementById('beginExperimentButton');
        const launchSubjectGUI = document.getElementById('launchSubjectGUI');
        const testAudioButton = document.getElementById('testAudioButton');
        const firstStressTask = document.getElementById('firstStressTask');
        const secondStressTask = document.getElementById('secondStressTask');
        const tasksButton = document.getElementById('tasksButton');
        const taskButtonGeneral1 = document.getElementById('taskButtonGeneral1');
        const taskButtonGeneral2 = document.getElementById('taskButtonGeneral2');
        const recTaskGen1 = document.getElementById('task_1_recording');
        const recTaskGen2 = document.getElementById('task_2_recording');
        const taskButton1 = document.getElementById('taskButton1');
        const taskButton2 = document.getElementById('taskButton2');
        const prsButton1 = document.getElementById('prsButton1');
        const prsButton2 = document.getElementById('prsButton2');
        const biometricBaselineButton = document.getElementById('biometricBaselineButton');
        const startPRSTaskButtons = document.querySelectorAll('.startPRSTask');
        const breakButton1 = document.getElementById('breakButton1');
        const breakButton2 = document.getElementById('breakButton2');
        const baselineButton = document.getElementById("startBiometricBaseline");
        const startBreakButton1 = document.getElementById('startBreak1');
        const startBreakButton2 = document.getElementById('startBreak2');
        const compareBaselineButtons = document.querySelectorAll('.compareToBaseline');
        const audioDevicesDropdown = document.getElementById('audioDevices');
        const shutdownButton = document.getElementById('shutdownButton');
        const notification3 = document.getElementById('notification3');
        const errorNotification3 = document.getElementById('errorNotification3');
        const notification4 = document.getElementById('notification4');
        const errorNotification4 = document.getElementById('errorNotification4');
        const uploadSubjectData = document.getElementById('uploadSubjectData')
        const roomObservationButtons = document.querySelectorAll('.openRoomObservationTask');

        document.addEventListener("DOMContentLoaded", () => {
            const form = encryptSubject;
            form.addEventListener("submit", function(event){
                event.preventDefault();
                const formData = new FormData(form);
                fetch("/encrypt_subject", {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    encryptionStatus.innerText = `Encrypted ID: ${data.message}`;
                    encryptionStatus.style.display = "block";
                    notification3.style.display = "block";
                    errorNotification3.style.display = "none";
                })
                .catch(error => {
                    notification3.style.display = "none";
                    encryptionStatus.style.display = "block";
                    encryptionStatus.innerText = `Error: ${data.error}`;
                    errorNotification3.style.display = "block";
                });
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            const form = decryptSubject;
            form.addEventListener("submit", function(event){
                event.preventDefault();
                const formData = new FormData(form);
                fetch("/decrypt_subject", {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    decryptionStatusName.innerText = `Full Name: ${data.full_name}`;
                    decryptionStatusName.style.display = "block";
                    decryptionStatusEmail.innerText = `Email: ${data.email}`;
                    decryptionStatusEmail.style.display = "block";
                    notification4.style.display = "block";
                    errorNotification4.style.display = "none";
                })
                .catch(error => {
                    notification4.style.display = "none";
                    errorNotification4.style.display = "block";
                    console.log(data.error);
                });
            });
        });

        document.addEventListener("DOMContentLoaded", () => {
            const form = document.getElementById('experimentNameForm');
            const notification = document.getElementById("notification1");
            const errorNotification = document.getElementById("errorNotification1");

            form.addEventListener("submit", function(event){
                event.preventDefault();
                const formData = new FormData(form);
                fetch("/submit_experiment", {
                    method: 'POST',
                    body: formData
                })
                .then(response => response.json())
                .then(data => {
                    notification.style.display = "block";
                    errorNotification.style.display = "none";
                    notification.innerText = data.message;
                })
                .catch(error => {
                    notification.style.display = "none";
                    errorNotification.style.display = "block";
                    errorNotification.innerText = data.error;
                });
            });
        });
            
        document.addEventListener('DOMContentLoaded', function() {
            moreToolsButton.addEventListener('click', function() {
                toggleVis('moreToolsDiv');
            });

            postTestButton.addEventListener('click', function() {
                toggleVis('postTestDiv');
            }); 

            postProcessingButton.addEventListener('click', function() {
                toggleVis('postProcessingDiv');
            });

            subjectInstructionsButton.addEventListener('click', function(){
                toggleVis('subjectInstructionsDiv');
            })

            experimentTrialNameButton.addEventListener('click', function() {
                toggleVis('experimentTrialNameDiv');
            });

            addSurveyButton.addEventListener('click', function() {
                toggleVis('addSurveyDiv');
            });

            beginExperimentButton.addEventListener('click', function() {
                toggleVis('surveysDiv');
            });

            launchSubjectGUI.addEventListener('click', function() {
                window.open('/subject_gui', '_blank', 'width=1200, height=720');
            });

            testAudioButton.addEventListener('click', function() {
                toggleVis('testAudioDiv');
            });

            tasksButton.addEventListener('click', function() {
                toggleVis('tasksDiv');
            });

            biometricBaselineButton.addEventListener('click', function() {
                toggleVis('biometricBaselineDiv');
            });

            firstStressTask.addEventListener('click', function() {
                toggleVis('firstStressDiv');
            });

            secondStressTask.addEventListener('click', function() {
                toggleVis('secondStressDiv');
            });

            taskButtonGeneral1.addEventListener('click', function() {
                toggleVis('taskGenDiv1');
            });

            taskButtonGeneral2.addEventListener('click', function() {
                toggleVis('taskGenDiv2');
            });

            taskButton1.addEventListener('click', function() {
                toggleVis('taskDiv1');
            });

            taskButton2.addEventListener('click', function() {
                toggleVis('taskDiv2');
            });

            prsButton1.addEventListener('click', function() {
                toggleVis('prsDiv1');
            });

            prsButton2.addEventListener('click', function() {
                toggleVis('prsDiv2');
            });

            breakButton1.addEventListener('click', function() {
                toggleVis('break1Div');
            });

            breakButton2.addEventListener('click', function() {
                toggleVis('break2Div');
            }); 

            encryptionButton.addEventListener('click', function() {
                toggleVis('encryptionDiv');
            })

            decryptionButton.addEventListener('click', function() {
                toggleVis('decryptionDiv');
            });
        });
        
        document.addEventListener('DOMContentLoaded', function(){
            baselineButton.addEventListener("click", function() {
                if (baselineButton.innerText == "Start Collecting Baseline") {
                    setEventMarker('biometric_baseline');
                    startBaseline();
                    baselineButton.innerText = "Stop Collecting Baseline";
                } else {
                    setEventMarker('subject_idle')
                    stopBaseline();
                    baselineButton.innerText = "Start Collecting Baseline";
                }
            });

            compareBaselineButtons.forEach(button => {
                button.addEventListener('click', function() {
                    compareToBaseline();
                });
            });

            completedTaskButtons.forEach(button => {
                setEventMarker('subject_idle');
            });

            roomObservationButtons.forEach(button => {
                button.addEventListener('click', function() {
                    window.open('/room_observation', '_blank', 'width=800, height=600');
                });
            });

            startPRSTaskButtons.forEach(button => {
                button.addEventListener('click', function() {
                    window.open('/prs', '_blank', 'width=800, height=600');
                });
            })
        });

        document.addEventListener('DOMContentLoaded', (event) => {
            console.log('Fetching audio devices...');
            fetchAudioDevices();
            audioDevicesDropdown.addEventListener('change', setDevice);
            shutdownButton.addEventListener('click', shutdownServer);
        });

        document.addEventListener('DOMContentLoaded', function() {
            testAudioOutput.addEventListener('click', function() {
                let beepCount = 0;
                const interval = setInterval(function() {
                    playTestTone();
                    beepCount++;
                    if (beepCount === 3) {
                        clearInterval(interval);
                    }
                }, 1000); 
            });

            function playTestTone() {
                const audioContext = new (window.AudioContext || window.webkitAudioContext)();
                const oscillator = audioContext.createOscillator();
                const gainNode = audioContext.createGain();
                oscillator.type = 'sine';
                oscillator.frequency.setValueAtTime(440, audioContext.currentTime);
                gainNode.gain.setValueAtTime(0.5, audioContext.currentTime);
                oscillator.connect(gainNode);
                gainNode.connect(audioContext.destination);
                oscillator.start();
                setTimeout(() => {
                    oscillator.stop();
                    // audioContext.close();
                }, 500); 
            }
        });

        document.addEventListener('DOMContentLoaded', function(){
            recTaskGen1.addEventListener('click', function() {
                if (recTaskGen1.innerText == "Start Recording"){
                    recTaskGen1.innerText = "Stop Recording";
                    recordTask(recTaskGen1, 'start');
                } else {
                    recTaskGen1.innerText = "Start Recording";
                    recordTask(recTaskGen1, 'stop');
                }
            });
            
            recTaskGen2.addEventListener('click', function() {
                if (recTaskGen2.innerText == "Start Recording"){
                    recTaskGen2.innerText = "Stop Recording";
                    recordTask(recTaskGen2, 'start');
                } else {
                    task1Record.innerText = "Start Recording";
                    recordTask(recTaskGen2, 'stop');
                }
            });

            startBreakButton1.addEventListener('click', function(){
                if(startBreakButton1.innerText == "Start Break"){
                    setEventMarker('break_1');
                    startBreakButton1.innerText = "End Break";
                } else {
                    setEventMarker('subject_idle');
                    startBreakButton1.innerText = "Start Break";
                }
            });

            startBreakButton2.addEventListener('click', function(){
                if(startBreakButton2.innerText == "Start Break"){
                    setEventMarker('break_2');
                    startBreakButton2.innerText = "End Break";
                } else {
                    setEventMarker('subject_idle');
                    startBreakButton1.innerText = "Start Break";
                }
            });

            function recordTask(button, action){
                const buttonId = button.id;
                const parentDiv = button.closest('div');
                const selectedCondition = parentDiv.querySelector('select').value;
                let eventMarker = `${buttonId}_${selectedCondition}`;
                
                console.log(`eventMarker: ${eventMarker}, action: ${action}`);  // Debugging statement

                statusId1 = document.getElementById("recordingStatus1");
                statusId2 = document.getElementById("recordingStatus2");

                fetch('/record_task', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        event_marker: eventMarker,
                        action: action
                    })
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Success:', data);
                    if(eventMarker == 'task_1'){
                        statusId1.style.display = 'block';
                        statusId1.innerHTML = data.message;
                    } else if (eventMarker == 'task_2'){
                        statusId2.style.display = 'block';
                        statusId2.innerHTML = data.message;
                    }
                })
                .catch(error => {
                    console.error('Error:', error);
                    if(eventMarker == 'task_1'){
                        statusId1.style.display = 'block';
                        statusId1.innerHTML = data.message;
                    } else if (eventMarker == 'task_2'){
                        statusId2.style.display = 'block';
                        statusId2.innerHTML = data.message;
                    }
                });

                if(action == 'start'){
                    console.log("Stream is active.");
                    if (buttonId == 'task_1_recording'){
                        statusId1.style.display = 'block';
                        statusId1.innerHTML = "Recording started...";
                    } else if (buttonId == 'task_2_recording'){
                        statusId2.style.display = 'block';
                        statusId2.innerHTML = "Recording started...";
                    }

                } else if (action == 'stop'){
                    if(buttonId == 'task_1_recording'){
                        statusId1.style.display = 'block';
                        statusId1.innerHTML = 'Recording stopped. Please wait. Post-processing may take several minutes.';
                    } else if (buttonId == 'task_2_recording'){
                        statusId2.style.display = 'block';
                        statusId2.innerHTML = 'Recording stopped. Please wait. Post-processing may take several minutes.';
                    }
                }
            }
            
            function openFileDialog(){
                document.getElementById('fileInput').click();
            }

            const uploadCSVstatus = document.getElementById('uploadCSVstatus');
            function handleFileSelect(event){
                const file = event.target.files[0];
                if(file){
                    console.log("Selected File: ", file.name);
                    const formData = new FormData();
                    formData.append('csv_file', file);
                    fetch('/upload_survey_file', {
                        method: 'POST',
                        body: formData
                    })
                    .then(response => response.json())
                    .then(data => {
                        uploadCSVstatus.innerText = data.message;
                    })
                    .catch(error => uploadCSVstatus.innerText = data.error);
                } else {
                    uploadCSVstatus.innerText = 'No file selected.';
                }
            }
            uploadSubjectData.addEventListener('click', function() {
                fetch('/upload_subject_data', {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    postProcessingStatus.innerText = data.message;
                    console.log(data.message);
                })
                .catch(error => {
                    postProcessingStatus.innerText = data.error;
                    console.error('Error:', error);
                });
            });

            stopEmotibitButton.addEventListener('click', function() {
                fetch('/stop_emotibit', {
                    method: 'POST'
                })
                .then(response => response.json())
                .then(data => {
                    emotibitDiv.style.display = 'block';
                    emotibitStatus.innerText = data.message;
                    console.log(data.message);
                })
                .catch(error => {
                    emotibitStatus.innerText = data.error;
                    console.error('Error:', error);
                });
            });
        });

    </script>
</body>
</html>