<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Observation Task</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <h1>Room Observation Task</h1>
    <h2>Instructions</h2>
    <ul>
        <li>Ensure the subject is fitted with their microphone, airpods or headphones.</li>
        <li>Click "Start Monitoring" to monitor subject audio.</li>
        <li>When they are ready, press play on the the introduction audio player.</li>
        <li>Each section is timed and will pause for responses automatically.</li>
        <li>Recording will also start and stop automatically.</li>
        <li>The subject will hear a "beep" to indicate that recording has started</li>
        <li>They will hear a short series of beeps 15 seconds before the time for each question is up.</li>
        <li>When the last notification indicates recording has stopped, the subject has finished the task.</li>
    </ul>
    <button onclick="startMonitoring()">Start Monitoring</button><br><br>
    
    <!-- Intro Audio -->
    <div id="audio1">
        <p>Intro</p>
        <audio controls id="audioPlayer1">
            <source src="{{ url_for('static', filename='room_observation_audio/1-Task1-Intro.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio><br>
        <div id="meter"><div id="level"></div></div><br>
        <div id="audio1-status"></div>
    </div>
    
    <div id="audio2">
        <p>Instructions</p>
        <audio controls id="audioPlayer2">
            <source src="{{ url_for('static', filename='room_observation_audio/2-Task1-PostObservation.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio><br>
        <div class="meter"><div class="level"></div></div><br>
        <div id="audio2-status"></div>
    </div>

    <!-- Task Audio -->
    <div id="audio3">
        <p>Question 1</p>
        <audio controls id="audioPlayer3">
            <source src="{{ url_for('static', filename='room_observation_audio/3-Task1-Q1.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio><br>
        <div class="meter"><div class="level"></div></div><br>
        <div id="audio3-status"></div>
    </div>

    <div id="audio4">
        <p>Question 2</p>
        <audio controls id="audioPlayer4">
            <source src="{{ url_for('static', filename='room_observation_audio/4-Task1-Q2.mp3') }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio><br>
        <div class="meter"><div class="level"></div></div><br>
        <div id="audio4-status"></div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const eventMarker = localStorage.getItem('currentEventMarker');
            if(!eventMarker || eventMarker === 'null' || eventMarker === 'undefined') {
                alert('No condition found for task. Please go back to the main interface and select a condition.');
            } 
            
            const player1 = document.getElementById('audioPlayer1');
            const player2 = document.getElementById('audioPlayer2');
            const player3 = document.getElementById('audioPlayer3');
            const player4 = document.getElementById('audioPlayer4');

            const status1 = document.getElementById('audio1-status');
            const status2 = document.getElementById('audio2-status');
            const status3 = document.getElementById('audio3-status');
            const status4 = document.getElementById('audio4-status');

            player1.addEventListener('play', function() {
                status1.innerHTML = 'Introduction is now playing...';
            });

            player1.addEventListener('ended', function() {
                status1.innerHTML = '60 second timer has started.';
                setTimeout(() => {
                    player2.play();
                    status1.innerHTML = 'Section finished.';
                }, 60000);  
            });

            player2.addEventListener('play', function() {
                status2.innerHTML = 'Instructions are now playing...';
            });

            player2.addEventListener('ended', function() {
                setTimeout(() => {
                    player3.play();
                    status2.innerHTML = 'Section finished.';
                }, 2000);  
            });

            player3.addEventListener('play', function() {
                status3.innerHTML = 'Question 1 is now playing...';
            });

            // let secondsBeforeEnd = 1; 
            // player3.addEventListener('timeupdate', function() {
            //     if (player3.duration - player3.currentTime <= secondsBeforeEnd && !player3.dataset.recordingStarted) {
            //         player3.dataset.recordingStarted = "true"; 
            //         recordTaskAudio(eventMarker, 'start', 1, status3); 
            //         playBeep();
            //     }
            // });

            player3.addEventListener('ended', function() {
                status3.innerHTML = 'Recording started... 3 minute timer started.';
                recordTaskAudio(eventMarker, 'start', 1, status3); 
                playBeep();
                setTimeout(function() {
                    let beepCount = 0;
                    const interval = setInterval(function() {
                        playBeep();
                        beepCount++;
                        if (beepCount === 2) {
                            clearInterval(interval);
                        }
                    }, 500); 
                }, 165000); 

                setTimeout(() => {
                    recordTaskAudio(eventMarker, 'stop', 1, status3);
                    player4.play();  
                }, 180000);  
            });

            player4.addEventListener('play', function() {
                status4.innerHTML = 'Question 2 is now playing...';
            });
            
            // player4.addEventListener('timeupdate', function() {
            //     if (player4.duration - player4.currentTime <= secondsBeforeEnd && !player4.dataset.recordingStarted) {
            //         player4.dataset.recordingStarted = "true"; 
            //         recordTaskAudio(eventMarker, 'start', 2, status4); 
            //         playBeep();
            //     }
            // });

            player4.addEventListener('ended', function() {
                status4.innerHTML = 'Recording started... 3 minute timer started.';
                recordTaskAudio(eventMarker, 'start', 2, status4); 
                playBeep();
                setTimeout(function() {
                    let beepCount = 0;
                    const interval = setInterval(function() {
                        playBeep();
                        beepCount++;
                        if (beepCount === 2) {
                            clearInterval(interval);
                        }
                    }, 1000); 
                }, 175000); 

                setTimeout(() => {
                    recordTaskAudio(eventMarker, 'stop', 2, status4);
                    status4.innerText = "Recording has stopped. Task is complete.";
                }, 180000);  
            });
        });
    </script> 
</body>
</html>