<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Survey</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
        <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    </head>
    <body>
        <h1>{{ surveyName | capitalize }} Survey</h1>
        <iframe src="{{ embed_url }}" width="100%" height="600px" frameborder="0">
            Loading survey....
        </iframe>
        <br>
    </body>
</html>