<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Page</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Experiment</h1>
    
    <div id="Instructions">
        <h2>Task</h2>
        <div id="instructionContainer"></div>
    </div><br>
    <button id="startTestButton" style="display:none;">Start Test</button>
    <div class="testModule">
        <p id="loadingMessage">Test Loading...</p>
        <button id="submitAnswerButton" disabled>Submit Answer</button><br><br>
        <p id="result"></p><br>
        <p id="status"></p><br>
    </div><br>
    <!-- <button id="taskComplete">Test Complete</button> -->
    <script>
        let testNumber; // NOTE: testNumber is set with test_manager.current_test_index which starts at 0.
        let startTime;
        let elapsedTime = 0;
        let initialTime = 60;  // 300 = 5 minutes
        let timeLeft = initialTime;
        let timerInterval;
        let eventMarker;
        let testStarted = false;
        let testEnded = false;

        const startTestButton = document.getElementById('startTestButton');
        const submitAnswerButton = document.getElementById('submitAnswerButton');
        const loadingMessage = document.getElementById('loadingMessage');
        const statusContainer = document.getElementById('status');
        const result = document.getElementById('result');
        const instructionContainer = document.getElementById('instructionContainer');

        let isProcessing = false;

        let firstTestInstructions = `<ul>
            <li>Press the start button to begin.</li>
            <li>You will start with the number 1,009</li>
            <li>Subtract 13 from 1,009 and continue subtracting 13 from each new result.</li>
            <li>Speak each answer aloud, and then press the "Submit" button to check your answer.</li>
            <li>Say your answer in number form (e.g. "One thousand ninety-six").</li>
            <li>Try to be as accurate and fast as possible while completing the task.</li>
            <li>If your answer is incorrect, the screen will inform you and prompt you to restart from 1,009.</li>
            <li>Continue subtracting 13 and submitting your answers until the screen prompts you to stop.</li>
            <li>PLEASE NOTE: Answers might take a few seconds to process.</li>
        </ul>`

        let secondTestInstructions = `<ul>
            <li>Press the start button to begin.</li>
            <li>You will start with the number 1,059</li>
            <li>Subtract 13 from 1,059 and continue subtracting 13 from each new result.</li>
            <li>Speak each answer aloud, and then press the "Submit" button to check your answer.</li>
            <li>Say your answer in number form (e.g. "One thousand ninety-six").</li>
            <li>Try to be as accurate and fast as possible while completing the task.</li>
            <li>If your answer is incorrect, the screen will inform you and prompt you to restart from 1,059.</li>
            <li>Continue subtracting 13 and submitting your answers until the screen prompts you to stop.</li>
            <li>PLEASE NOTE: Answers might take a few seconds to process.</li>
        </ul>`
        
        document.addEventListener('DOMContentLoaded', (event) => {
            // Initialize test
            fetch('/get_current_test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                testNumber = data.test_number + 1; // Add 1 because test_index starts at 0.
                console.log("Test Number: ", testNumber);
                eventMarker = "stressor_test_" + testNumber;
                if(testNumber == 1){
                    instructionContainer.innerHTML = firstTestInstructions;
                } else if(testNumber == 2){
                    instructionContainer.innerHTML = secondTestInstructions;
                }
                //DEBUG STATEMENT
                console.log("Event Marker: ", eventMarker);
            })
            .catch(error => {
                console.error('Error:', error);
            });

            startTestButton.style.display = 'block';
            submitAnswerButton.disabled = true;
            loadingMessage.style.display = 'none';

            // Start Test
            startTestButton.addEventListener('click', function() {
                if (eventMarker === undefined) {
                    alert('Failed to start test. Please refresh the page and try again.');
                    return;
                }
                if (testStarted) {
                    alert("Test already started. Please refresh the page to start again.");
                    return;
                } else {
                    setEventMarker(eventMarker);

                    submitAnswerButton.disabled = true;
                    loadingMessage.style.display = 'block';
                    statusContainer.innerText = 'Please wait...';

                    fetch('/get_first_question', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    })
                   
                    .then(response => {
                        if (!response.ok) {
                            throw new Error(`HTTP error! status: ${response.status}`);
                        }
                        return response.json();
                    })
                    .then(data => {
                        console.log(data);
                        loadingMessage.style.display = 'none';
                        startTestButton.disabled = true;
                        statusContainer.innerText = "Recording... Speak your answer and submit when ready.";
                        submitAnswerButton.disabled = false;
                        startClock();  
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('Failed to start test.');
                    });
                    testStarted = true;
                }
            });
            submitAnswerButton.addEventListener('click', processAnswer);
        });
        
        function startClock() { 
            if(!timerInterval) {
                timerInterval = setInterval(updateClock, 1000);
            }
        }

        function stopClock() {
            clearInterval(timerInterval); 
            timerInterval = null;
        }
                
        function resetClock(){
            stopClock();
            timeLeft = initialTime;
        }

        function updateClock() {
            timeLeft--;
            if(timeLeft < 0) {
                clearInterval(timerInterval);
                endTest();
            }
        }

        function endTest() {
            stopClock();
            testEnded = true;
            testStarted = false;
            submitAnswerButton.disabled = true;
            submitAnswerButton.style.display = 'none';
            startTestButton.style.display = 'none';
            startTestButton.disabled = true;
            result.style.display = 'none';

            // This will simply return if isProcessing is true.
            processAnswer(testEnded);

            eventMarker = 'subject_idle';
            setEventMarker(eventMarker);
            if (testNumber === 1){
                statusContainer.innerText = 'Time is up! Please move on to the next task.';
                
            } else if (testNumber === 2){
                statusContainer.innerText = 'Time is up! All tests completed. Thank you for participating in the experiment.';
            }
        }

        function processAnswer(){
            if(isProcessing) {
                return; // If function is busy, gtfo.
            }

            isProcessing = true;
            statusContainer.innerText = "Analyzing Answer...";
            submitAnswerButton.disabled = true;

            fetch('/process_answer', {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ test_status: testEnded })
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                if (data.status === 'complete' || testEnded) {
                    console.log(data);
                    // This block handles the eventuality that all questions have been answered
                    // It also covers eventuality that function is in-progress when clock ends.
                    if (data.status === 'complete') {
                        statusContainer.innerText = "Test complete. Please move on to the next task.";
                        submitAnswerButton.style.display = 'none';
                        isProcessing = false;
                    } 

                    statusContainer.innerText = "Test complete. Please move on to the next task.";
                    submitAnswerButton.style.display = 'none';
                    result.style.display = "none";
                    testStarted = false;
                    stopClock();
                    eventMarker = 'subject_idle';
                    setEventMarker(eventMarker);
                    isProcessing = false;

                } else if (data.result === 'correct') {
                    result.innerText = "Correct.";
                    submitAnswerButton.disabled = false;
                    statusContainer.innerText = "Recording... Speak your answer and submit when ready.";
                    isProcessing = false;

                } else if (data.result === 'transciption_error'){
                    result.innerText = "Sorry, I couldn't understand you.";
                    statusContainer.innerText = "Recording... Speak your answer and submit when ready.";
                    submitAnswerButton.disabled = false;
                    isProcessing = false;
                }
                else if (data.result === 'incorrect') {
                    const restartNumber = testNumber === 1 ? "1,009" : "1,059";
                    result.innerText = `Incorrect. Please start again from ${restartNumber}.`;
                    statusContainer.innerText = "Recording... Speak your answer and submit when ready.";
                    submitAnswerButton.disabled = false;
                    isProcessing = false;
                } 
                else if (data.result === 'error') {
                    statusContainer.innerText = "Sorry, I could not understand the response.";
                    submitAnswerButton.disabled = false;
                    isProcessing = false;
                } 
            })
            .catch(error => {
                console.error('Error:', error);
                statusContainer.innerText = "Something went wrong. Please repeat your answer.";
                submitAnswerButton.disabled = false;
                isProcessing = false;
            });
            
        }
    </script>
</body>
</html> 