<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Testing Page</title>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <h1>Experiment</h1>
    <a href="/">Go Back (Requires Resubmission)</a><br>
    
    <div id="Instructions">
        <h2>Tasks</h2>
        <p>Press the button to start the first test then solve the subtraction problems. <b>Please speak each answer aloud.</b></p>
        <ul>
            <li>+10 cents for each correct answer.</li>
            <li>-15 cents for each wrong answer.</li>
            <li>Double your earnings after 20 correct answers.</li>
            <li>Total: You can see your total money earned or lost during the task.</li>
            <li>Payment: We will Venmo you the amount you earn at the end.</li>
        </ul>
    </div><br>
    <button id="startTestButton" style="display:none;">Start Test 1</button> <br>
    <div class="testModule">
        <p id="loadingMessage"></p>
        <div id="clock">05:00</div><br><br>
        <div id="accountBalance">$0</div><br><br>
        <div id="test_1_container"></div> <br>
        <div id="test_2_container"></div> <br>
    
        <button id="submitAnswerButton" disabled>Submit Answer</button> <br>
        <button id="uploadData" disabled>Upload Results</button>
        <p id="result"></p> <br>
        <p id="status"></p><br><br>
    </div>
    
    <script>
        let testNumber = 1;
        let startTime;
        let elapsedTime = 0;
        let initialTime = 300;  // 5 minutes
        let timeLeft = initialTime;
        let timerInterval;
        let account = .00;
        const timeDisplay = document.getElementById('clock');
        const accountBalance = document.getElementById('accountBalance');
        
        function getNextTest(){
            fetch('/get_next_test', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error(`HTTP error! status: ${response.status}`);
                }
                return response.json();
            })
            .then(data => {
                testNumber = data.test_number;
                console.log("Test Number: ", testNumber);
                console.log(data.message);
            });
        }

        function endTest() {
            document.getElementById('submitAnswerButton').style.display = 'none';
            document.getElementById('submitAnswerButton').disabled = true;

            if (testNumber === 1){
                document.getElementById('status').innerText = 'Test completed! Please perform the next activity before starting the next test.';
                document.getElementById('startTestButton').style.display = 'block';
                document.getElementById('startTestButton').disabled = false;
                document.getElementById('clock').innerText = '05:00';
            } else if (testNumber === 2){
                document.getElementById('status').innerText = 'All tests completed! Thank you for participating in the experiment.';
                document.getElementById('startTestButton').style.display = 'none';
                document.getElementById('startTestButton').disabled = true;
                document.getElementById('clock').innerText = '00:00';
            }
        }

        async function submitAnswer() {
            document.getElementById('status').innerText = "Analyzing Answer...";
            document.getElementById('submitAnswerButton').disabled = true;
            try {
                const response = await fetch('/submit_answer', { method: 'POST' });
                const data = await response.json();
                document.getElementById('status').innerText = data.result;

                if (data.result === 'correct') {
                    account += 0.10;
                    accountBalance.innerText = `$${account.toFixed(2)}`;
                } else if (data.result === 'incorrect') {
                    account -= 0.15;
                    accountBalance.innerText = `$${account.toFixed(2)}`;
                }

                if (data.result === 'correct' || data.result === 'incorrect') {
                    await getNextQuestion(); 
                    document.getElementById('submitAnswerButton').disabled = false;

                } else if (data.result === 'error') {
                    document.getElementById('status').innerText = "Sorry, I could not understand the response.";
                    document.getElementById('submitAnswerButton').disabled = false;

                    stopClock();
                    await startRecording();
                    document.getElementById('submitAnswerButton').disabled = false;
                    startClock();

                } else if (data.result === 'test_completed') {
                    document.getElementById('submitAnswerButton').style.display = 'none';
                    document.getElementById('startTestButton').style.display = 'none';
                    document.getElementById('status').innerText = 'Test completed!';
                    stopClock();
                    resetClock();
                } 

            } catch (error) {
                    console.error('Error:', error);
            }       
        }
    
        document.addEventListener('DOMContentLoaded', (event) => {
            document.getElementById('startTestButton').style.display = 'block';
            document.getElementById('submitAnswerButton').disabled = true;
            document.getElementById('loadingMessage').style.display = 'none';
            document.getElementById('uploadData').style.display = 'none';
            accountBalance.innerText = `$00.0${account}`;
        });
    
        document.addEventListener('DOMContentLoaded', (event) => {
            const startTestButton = document.getElementById('startTestButton');
            if (startTestButton) {
                startTestButton.addEventListener('click', function() {
                    document.getElementById('submitAnswerButton').disabled = true;
                    document.getElementById('loadingMessage').style.display = 'block';
                    document.getElementById('status').innerText = '';

                    startRecording()
                        .then(() => {
                            return fetch('/get_question', {
                                method: 'POST',
                                headers: {
                                    'Content-Type': 'application/json'
                                }
                            });
                        })
                        .then(response => {
                            if (!response.ok) {
                                throw new Error(`HTTP error! status: ${response.status}`);
                            }
                            return response.json();
                        })
                        .then(data => {
                            let testNumber = data.test_number;
                            // let testContainerId = `test_${testNumber}_container`;
                            let testContainerId = "test_1_container";

                            document.getElementById('loadingMessage').style.display = 'none';
                            document.getElementById('startTestButton').disabled = true;
                            document.getElementById('test_1_container').innerHTML = `
                                <h2>Test 1</h2>
                                <div id="questionsContainer">${data.question}</div>
                            `;

                            let checkInterval = setInterval(() => {
                                if (checkActiveStream()) {
                                    console.log("Stream is active.");
                                    document.getElementById(testContainerId).style.display = 'block';
                                    document.getElementById('submitAnswerButton').disabled = false;
                                    startClock();
                                    clearInterval(checkInterval); // Stop checking once stream is active
                                } else {
                                    console.log("Stream is not active yet, checking again...");
                                    document.getElementById(testContainerId).style.display = 'none';
                                    document.getElementById('submitAnswerButton').disabled = true;
                                }
                            }, 2000); // Check every 2 seconds
                        })
                        .catch(error => {
                            console.error('Error:', error);
                            alert('Failed to start test.');
                        });
                });
            }
        });
    
        document.getElementById('submitAnswerButton').addEventListener('click', function() {
            submitAnswer();
        });

        document.getElementById('uploadData').addEventListener('click', function() {
            fetch('/upload_data', {
                method: 'POST'
            })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                document.getElementById('result').innerText = data.message;
            })
            .catch(error => console.error('Error:', error));
        });
    </script>
</body>
</html> 