<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>VR Task</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
</head>

<body>
    <h1>VR Tasks</h1>
    <button class="VRTaskButton">Begin VR Task 1</button><br>
    <div class="testModule" style="display:none" disabled>
        <button id="taskID1" class="VRRecord">Start Recording</button><br><br>
        <p id="status1" style="display:none">Please wait...</p>
    </div><br>

    <button class="VRTaskButton">Begin VR Task 2</button><br>
    <div class="testModule" style="display:none" disabled>
        <button id="taskID2" class="VRRecord">Start Recording</button><br><br>
        <p id="status2" style="display:none">Please wait...</p>
    </div>

    <script>
        document.querySelectorAll(".VRTaskButton").forEach((button, index) => {
            button.addEventListener("click", function() {
                const targetDiv = document.querySelectorAll(".testModule")[index];
                if (targetDiv.style.display === "none" || targetDiv.style.display === "") {
                    targetDiv.style.display = "block";
                } else {
                    targetDiv.style.display = "none";
                }
            });
        });

        const recordButtons = document.querySelectorAll(".VRRecord");

        recordButtons.forEach(button => {
            button.addEventListener("click", function() {
                if (button.innerHTML == "Start Recording"){
                    button.innerHTML = "Stop Recording";
                    VRRecording(button, 'start');
                } else {
                    button.innerHTML = "Start Recording";
                    VRRecording(button, 'stop');
                }
            });
        });
        
        function VRRecording(button, action){
            const taskID = button.id;

            fetch('/record_vr_task', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({task_id: taskID, action: action})
            })
            .then(response => response.json())
            .then(data => {
                console.log(data.message);
                if (data.message == 'Recording started and stream is active.' && action == 'start' && taskID == 'taskID1'){
                    document.getElementById('status1').style.display = 'block';
                    document.getElementById('status1').innerHTML = 'Recording started and stream is active.';
                } else if (data.message == 'Recording started and stream is active.' && action == 'start' && taskID == 'taskID2'){
                    document.getElementById('status2').style.display = 'block';
                    document.getElementById('status2').innerHTML = 'Recording started and stream is active.';
                } else if (data.message == 'Recording stopped.'){
                    document.getElementById('status1').style.display = 'none';
                    document.getElementById('status2').style.display = 'none';
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        } 
    </script>
</body>
</html>